.nyc_output/
analysis/~*.xlsx
analysis/ribas.flac
analysis/*.pdf
app/script
app/style
app/vendor
data-test/
node_modules*
test/fixture/out.*
test/script
test/vendor
installer/*.exe
installer/Version.txt
build/
cache/
coverage/
dist/
dev-app-update.yml
*.json
errors.txt
log.txt
test-log.txt
.sublime-*
.vscode
*.dump
*.log
bin
bin-*
usefull.md