analysis/~*.xlsx
analysis/ribas.flac
app/data
app/script
app/style
app/vendor
bin/debug.log
data-test/
errors.txt
dump_dancerm.json
installer/*.exe
node_modules
test/fixture/~*.xlsx
test/fixture/out.*
test/script
test/vendor
.sublime-*
*.dump