.main-view
  transition all animationDuration
  
  .main
  .column.expanded
    transition all animationDuration
  
  &.ng-enter 
    .column.expanded
      width collapsedColumnWidth
      
      .hideable
        display none
        
    .main.expanded
      position absolute
      left 100%
    
  &.ng-enter-active 
    .column.expanded
      width expandedColumnWidth
    .main.expanded
      left 0
      
  &.ng-enter .main
  .main.ng-enter
    right (- visibleMainWidth)

  &.ng-enter-active .main
  .main.ng-enter-active
    right 0

  &.ng-leave-active .main
  .main.ng-leave-active
    right (- visibleMainWidth)

  &.ng-leave
    display none

.loader
  
  > *
    display inline-block
    size = 10px
    width size
    height size
    margin 0 size

  for i in (1..10)
    > :nth-child({i})
      -webkit-animation-name 'zoom' + i
      -webkit-animation-duration 2000ms
      -webkit-animation-delay (100*i)ms
      -webkit-animation-iteration-count infinite
      
    @keyframes zoom{i}
      0%
        -webkit-transform scale(1) rotate(0deg)
      25%
        -webkit-transform scale(1.5) rotate(45deg)
        background-color planningColors[i]
      50%
        -webkit-transform scale(1) rotate(0deg)  
