@import 'variable'

.column-and-main 

  > .main
    transition all animationDuration

    &.ng-enter
      right (- visibleMainWidth)

    &.ng-enter-active
      right 0

    &.ng-leave-active
      opacity 0
      right (- visibleMainWidth)

  > .column
    transition all animationDuration

    &.expanded.ng-enter
      width collapsedColumnWidth

    &.expanded.ng-enter-active
    &.expanded.ng-leave-active 
      width expandedColumnWidth

      .export
        display none
          
    &.stats-controller.ng-enter
      left 100%

    &.stats-controller.ng-enter-active
      transition left animationDuration
      position absolute
      left 0

    &.ng-leave
      // hide leaving column when changing main, or when expanding column
      display none