/******************************************************************************
 * Inclusions
 */

@import '../style/css/bootstrap.css'
@import '../style/css/nv.d3.css'

declareFonts()

// defined to remove pipette that are not defined in a given theme
.pipette
  background rgba(255, 0, 255, 0)

@require 'directive'
@require 'animation'

/******************************************************************************
 * Main layout and background
 */

html
  height 100%
  background mainBackground
  cursor default
  overflow hidden

body
  display flex
  flex-direction column
  height 100%
  background transparent

  > .main-view
    flex 1
    position relative

.column-and-main
  pageMargin = 15px

  > *
    position absolute
    top 0
    bottom 0
    box-sizing border-box
    padding pageMargin

  > .column
    left 0
    width collapsedColumnWidth
    background colBackground

  > .main
    // main right column
    right 0
    width visibleMainWidth

  // no main layout

  > .column.expanded
    width expandedColumnWidth

  > .main.expanded
    width 100%

  > .empty
    width 0
    padding 0

  .column > h2
  .main > h2
    // header text will take all available horizontal space
    display flex
    align-items center

    > span
      font-size (fontSize*1.6)
      font-family headingFont
      flex 1

    .btn:not(.glyphed) > .glyphicon
      margin 0

/******************************************************************************
 * Typography
 */

body
  color textColor
  font-family textFont

  *
    font-family textFont
    font-size fontSize
    -webkit-user-select none
    cursor default

  input, textarea
    -webkit-user-select text
    cursor text

  for i in (1..3)
    h{i}
      border-top 2px solid headingColor
      color headingColor
      font-family headingFont
      font-weight normal
      font-size (fontSize*(1+0.2*(5-i)))
      margin 0

  input.ng-invalid
  input.invalid
  textarea.invalid
  .dropdown-toggle.invalid
    background-color errorColor !important
    color errorTextColor !important

  input:not(:hover):not(:focus):not(.invalid)
  textarea:not(:hover):not(:focus):not(.invalid)
  input:not(:hover):not(:focus):not(.ng-invalid)
  textarea:not(:hover):not(:focus):not(.ng-invalid)
    background rgba(inputColor, 7%)
    color textColor
    border-color transparent
    box-shadow none

  .glyphed > .glyphicon:first-child
    margin 0 6px 0 -3px

  :focus
    outline none

/******************************************************************************
 * Left Column
 */

.column-and-main > .column
  transition width animationDuration
  // list will take all available vertical space
  display flex
  flex-flow column

  .print-call-list
    text-align center
    margin-bottom 10px

  .input-group input::-webkit-input-placeholder
    font-style italic

  .list-length
    color headingColor
    text-align center
    display block
    margin 1em 0

  .table
    flex 1
    margin 0
    // tbody text will take all available vertical space
    display flex
    flex-flow column

    // make raw as block, and cell as inline element with fixed width
    tr
      display block
      font-size 0
    th, td
      display inline-block
      box-sizing border-box
      font-weight normal
    th
      font-family headingFont
      cursor pointer

      .glyphicon
        margin-left 0.5em
    td
      word-break break-word

    // we MUST have fixed width columns
    for width, i in 30 35 15 20
      td:nth-child({i+1})
        width unit(width, '%')
      th:nth-child({i+1})
        width unit((width - 2), '%')

    tbody
      // take all vertical space
      flex 1
      overflow auto

      > tr:first-child > td
        border-top none

      tr:hover
        transition background focusDuration
        background linkColor
        *
          cursor pointer

    thead tr
      background headerBackground
      color headerColor
      font-weight normal

    // use white icons, make lastname bold and add stripes
    td
      .glyphicon-ok
        color successColor
      .glyphicon-exclamation-sign
        color errorColor
    td:nth-child(2)
      font-weight bold
    tr:nth-child(even)
      background mainBackground

.column-and-main > .column.expanded

  .input-group
    width 300px
  > .tags
  > .list-length
    display inline-block

  table tbody tr:hover *
    cursor default

  td:nth-child(2)
    font-weight normal
  td:nth-child(3)
    font-weight bold

  .input-row
    display flex

    .input-group
      margin 0

    .tags
      margin-left 1em

  tr
    display flex

  // we MUST have fixed width columns
  // title, firstname, lastname, certificate, payement, age, birth, known-by, phone, mobile, email, address
  cols = 4em 7% 10% 4em 4em 3em 10% 10% 9em 9em 10%
  for col, i in cols
    td:nth-child({i+1}), th:nth-child({i+1})
      width col

  td:nth-child(12), th:nth-child(12)
    flex 1

  h2 > *:not(:last-child)
    margin-right 7px

  .known-by
    margin-right 5px

/******************************************************************************
 * Main Part
 */

.column-and-main > .main

  > *
    padding-top 5px

  .commands
    text-align center

  .planning
    height 500px
    margin 10px 0

/******************************************************************************
 * Card
 */

.card
  overflow-x hidden
  overflow-y auto
  height 100%
  box-sizing border-box
  padding-right 10px

  .nav-tabs
    border-bottom 2px solid headingColor
    padding-left 10px

    > li > a
    > li.active > a
      border none
      background mainBackground
      font-family headingFont
      color headingColor
      cursor pointer
      margin-left 5px

    > li > a
      color rgba(textColor, 50%)

  .tab-pane
    padding-top 10px

  > article > h2
  .nav-tabs > li > a
    display inline
    position relative
    top 10px
    left 25px
    line-height 10px
    font-size fontSize*1.6
    background mainBackground
    padding 0 5px

  > article
    border-top 2px solid headingColor
    margin 10px 0

  > article
  .tab-pane > article
    position relative
    padding 0 1em 1em

    for selector in "&" ".address" ".dancer"
      {selector} > .btn
      {selector} > .btn-group
        transition background focusDuration
        position absolute
        right 15px
        top -18px

      {selector} > .btn
        box-shadow 0 0 0 3px mainBackground

      {selector} > .btn-group
        background mainBackground

    for selector in ".address" ".dancer"
      {selector}:not(:hover) > .btn
      {selector}:not(:hover) > .btn-group
        background colBackground

    &.registration > .btn-group
      top -33px

    > h2
      top -10px
      border-top none

    .dancer
    .address
    .dancer-classes
      border-top 1px solid headingColor
      margin-top 16px
      position relative

      > .btn
        top -20px
        box-shadow 0 0 0 3px colBackground

      > h4
        font-size fontSize*1.3
        background colBackground
        display inline-block
        position relative
        margin -10px 0 0
        bottom 11px
        left 12px
        padding 0 5px

    .card-dancer
    .card-dancer-classes
      border-radius inputRadius
      background colBackground
      padding 6px
      margin 6px -12px

    .dancer
      .title
        // cause name overlaps
        z-index 1

    .address
      .zipcode
        input
          min-width 60px

        input::-webkit-outer-spin-button
        input::-webkit-inner-spin-button
          -webkit-appearance: none
          margin: 0

      .city label
        width 45px

    .address .read-only
      .zipcode, .city, .street
        margin-top 5px
        margin-left 10px
      &.phone
        label
          width auto
        span
          margin-top 5px


    .row
      > span
        display flex

      .input-group
        flex 1
        display flex

        .input-group-addon
          width 30px
          height 28px
          padding 4px

      input[type=text],
      input[type=number],
      input[type=email]
        flex 1
        margin-bottom 5px
        margin-left 5px
        height auto

      input[type=checkbox]
        margin 8px 0 0 5px

      label
        width 100px
        text-align right
        display inline-block
        cursor default
        margin 5px 5px 0 0
        color labelColor

      textarea
        flex 1
        margin 0 0 5px 5px
        resize none
        height 3.6em
        display inline-block
        box-sizing border-box

    .known-by
      display flex
      flex-flow wrap

      > span
        min-width 128px
        margin 2px 10px 2px 0

      label
        cursor pointer
        text-align left
        width auto
        margin 4px 0 0 2px
        display inline
        color labelColor

      input[type="checkbox"]
        vertical-align -2px

    .known-by-other
      flex 1
      display inline-flex

      label
        vertical-align 2px
        width auto
        text-align left
      input
        margin-right 5px
        height 28px
        flex 1

/******************************************************************************
 * Conflicts resolution
 */

.conflict

  h4
    color headingColor
    font-size (fontSize*1.6)
    font-family headingFont

  .conflict-table

    thead tr
      background headerBackground
      color headerColor
      font-weight normal

    td
      width 40%

      > input
        -webkit-appearance checkbox
        margin-right 5px
        vertical-align top

    td:first-child
      width 20%
      text-align right

      .tag
        margin-top 0


/******************************************************************************
 * Statistics
 */

.stats
  display flex
  flex-direction column

  .dashboard
    flex 1
    width 100%

    .column
      display inline-flex
      flex-direction column
      width 50%
      height 100%

      > article
        border-radius inputRadius
        background colBackground
        padding 10px
        margin 6px
        max-width 100%

        .content
          text-align center

    .nv-noData
      fill textColor
      font-family textFont

    .nv-multiBarHorizontalChart .tick
      text
        fill textColor
        font-family textFont
      line
        display none

    .big-value
      font-size 100px
      font-family impactFont
      color colors[0]

    .currency
      font-family impactFont
      font-size 60px

  .criteria
    padding-top 0
    display flex
    justify-content space-between
    align-items center

    .tag
      margin-top 0

    > span
      padding-left 25px
      font-size 200%
      color headingColor
      font-family headingFont
      flex 1

    .btn-group
      margin-right 5px

  .loader
    display block
    width 100%
    text-align center
    margin 5px 0

/******************************************************************************
 * Settings
 */

.settings.main

  > section
    display flex
    padding 0

    > :not(aside)
      display inline-block
      flex 1
      margin .5em
      padding 1em

    input
      height 30px

    .add-vat-teacher
      margin-left .5em
      vertical-align top

    .vat-teachers
      padding 0

      > li
        list-style none

        > .glyphicon
          margin-right 1em

  > section:not(:first-child) > :not(aside)
    border-top 1px solid headingColor

  .form-group:last-child
    margin-bottom 0

  aside
    width 200px
    padding 1em
    margin 0
    border-right 1px solid headingColor
    background colBackground

    > h2
      margin 0
      border none
      line-height normal
      font-size fontSize*1.2

  .about
    display flex
    flex-wrap wrap
    justify-content center

    > p
      width 100%

    > article
      margin 10px
      background colBackground
      text-align center
      padding 1em

      > img
        height 100px

      > h2
      > h3
        margin 0
        border none
        line-height normal

      > h2
        margin-top 1em
        font-size fontSize*1.2

      > h3
        font-size fontSize


/******************************************************************************
 * Popups
 */

.register
  max-height inherit

  > span
    display block
    margin-bottom 15px

  .planning
    width 100%
    height 400px
    font-size 10px

.search-dancer

  input
    margin-left 10px
    width 50%

  > div:not(:last-child)
    margin-bottom 10px

/******************************************************************************
 * Focusable components
 */

body

  .focusable
    input, textarea, .input-group-addon, .btn
      transition background focusDuration, border focusDuration, color focusDuration

  .focusable:not(:hover)

    input:not(:focus)
    textarea:not(:focus)
    .btn.dropdown-toggle
    .input-group-addon:first-child
    .input-group-addon:last-child
      border-color transparent
      background transparent

    .btn.dropdown-toggle
    .input-group-addon:first-child
    .input-group-addon:last-child
      color rgba(textColor, 50%)

    .btn
      background transparent
      color rgba(textColor, 50%)
      border-color transparent

/******************************************************************************
 * Bootstrap overload
 */

body

  h1, h2, h3
    line-height 40px

  label
    font-weight normal

  .table>thead>tr>th
    border-bottom 0
  .table>thead>tr
    border-bottom 2px solid tableBorderColor

  .glyphicon
  .caret
    top 2px
    cursor pointer

  .modal-dialog
    margin-top 10%

  .modal-content
    background mainBackground
    border-radius 0 2em

    .modal-header
      background headerColor
      border none
      border-radius 0 2em 0 0

      h3
        color headerBackground
        border none

    .modal-footer
      background colBackground
      padding 10px
      border-radius 0 0 0 2em
      border none
      box-shadow none

  .nvtooltip
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    background transparent
    border none

  .tooltip
  .nvtooltip
    z-index 1100
    .tooltip-inner
      padding .5em 1em
      background infoColor

    .highlight
      display inline-block
      width 1em
      height 1em
      border 1px solid white
      border-radius 25%
      vertical-align bottom

    &.top
    &.bottom
      .tooltip-arrow
        border-top-color infoColor

    &.fade.in
      opacity 1

  .dropdown-menu
    text-align left
    background btnBackground

    li > a:hover
      transition background focusDuration, color focusDuration
      background mainBackground
      color textColor
      cursor pointer

  .dropdown-menu.right
    left auto
    right 0

  .btn.dropdown-toggle:focus
    box-shadow 0 0 0 1px focusColor

  .btn-group.open .btn.dropdown-toggle
    background btnBackgroundHover

  select
  textarea
  input:not([type="checkbox"])
  input:not([type="radio"])
    padding 4px 6px

  input[type="checkbox"]
  input[type="radio"]
    cursor pointer

  textarea:hover
  input:not([type="checkbox"]):hover
  input:not([type="radio"]):hover
    border-color tableBorderColor

  blockquote
    background-color headerBackground
    > p
      color focusColor

  select:focus
  textarea:focus
  input[type="text"]:focus
  input[type="number"]:focus
  input[type="email"]:focus
  input[type="url"]:focus
  input[type="search"]:focus
  input[type="tel"]:focus
  .uneditable-input:focus
    background-color focusBackground
    border-color focusColor
    box-shadow 0 0 8px focusColor
    outline focusColor auto 5px
    color focusTextColor

  a:focus
  button:focus
  .btn:focus
    box-shadow 0 0 3px 1px focusColor
    outline 0

  textarea
  input[type="text"]
  input[type="number"]
  input[type="email"]
  input[type="url"]
  input[type="search"]
  input[type="tel"]
  .uneditable-input
    transition all focusDuration
    background-color inputColor
    border-width 1px
    border-radius inputRadius
    color focusTextColor

  .text-error
    color lighten(errorColor, 10%)

  .input-group
    input:first-child
      border-radius inputRadius 0 0 inputRadius
      font-size fontSize

    input:last-child
      border-radius inputRadius 0 0 inputRadius
      font-size fontSize

    .input-group-addon
      background-color headerBackground
      color headerColor
      border-color textColor
      text-shadow none

      &:last-child
        border-left 1px solid textColor
      &:first-child
        border-right 1px solid textColor
      &[href]
      &[href] > i
        cursor pointer

  .btn > .caret
    display inline-block
    margin-left 5px

  .btn
    transition background focusDuration, color focusDuration
    padding 4px 12px
    color btnColor
    font-size fontSize
    border-color rgba(0, 0, 0, 0.25)
    background-color btnBackground
    background-image btnBackground

  .btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled]
    color btnColor
    background-color btnBackgroundHover

  .btn-primary
    color emphasisColor
    background-color primaryBtnBackground
    background-image primaryBtnBackground

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]
    background-color primaryBtnBackgroundHover
    background-image primaryBtnBackgroundHover

  .btn-warning
    color btnColor
    background-color warningBtnBackground
    background-image warningBtnBackground

  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled]
    background-color warningBtnBackgroundHover
    background-image warningBtnBackgroundHover

  .btn-danger
    color errorTextColor
    background-color dangerBtnBackground
    background-image dangerBtnBackground

  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled]
    background-color dangerBtnBackgroundHover
    background-image dangerBtnBackgroundHover

  .btn-success
    color btnColor
    background-color successBtnBackground
    background-image successBtnBackground

  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled]
    background-color successBtnBackgroundHover
    background-image successBtnBackgroundHover

  .btn-info
    color btnColor
    background-color primaryBtnBackground
    background-image primaryBtnBackground

  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled]
    background-color infoBtnBackgroundHover

  [data-datepicker-popup] ~ .dropdown-menu
  [datepicker-popup] ~ .dropdown-menu
    background headerBackground
    padding 5px

    tbody .btn
      background mainBackground
      color headerColor

    tbody .btn.active
      background emphasisColor

      .text-info
        color headerColor