
/******************************************************************************
 * Inclusions
 */

@import 'css/bootstrap.css'
@import 'variable'
@import 'mixins'
@import 'directive'
@import 'animation'

/******************************************************************************
 * Main layout and background
 */

html
  height 100%
  overflow auto
  background mainBackground


.column-and-main
  pageMargin = 15px
  // for animations
  overflow hidden
  // take all page space
  position absolute
  top 0
  right 0
  left 0
  bottom 0

  > *
    position absolute
    top 0
    bottom 0
    box-sizing border-box
    padding pageMargin

  > header
    top 15px
    left 0
    bottom auto
    width 28%
    background primaryBtnBackground
    padding 1em
    z-index 1
    line-height 20px
    border-radius 0 1em 0 0

    .version
      padding-left 10px
      font-size fontSize * 1.2

  > .column
    left 0
    width collapsedColumnWidth
    background colBackground
    padding-top (100px+pageMargin)

  > .main
    // main right column
    right 0
    width visibleMainWidth

  // no main layout

  > .column.expanded
    width expandedColumnWidth

  > .main.empty
    width 0
    padding 0

/******************************************************************************
 * Typography
 */  

body
  color textColor
  font-family textFont

  .column-and-main > header
    color headerColor
    font-family headingFont
    font-size (fontSize*2.5)
    text-align center

  * 
    font-family textFont
    font-size fontSize
    -webkit-user-select none
    cursor default

  input, textarea
    -webkit-user-select text
    cursor text

  for i in (1..3)
    h{i}
      border-top 2px solid headingColor
      color headingColor
      font-family headingFont
      font-weight normal
      font-size (fontSize*(1+0.2*(5-i)))
      margin 0  

  input.ng-invalid
  input.invalid
  textarea.invalid
  .dropdown-toggle.invalid
    background-color errorColor !important
    color errorTextColor !important

  input:not(:hover):not(:focus):not(.invalid)
  textarea:not(:hover):not(:focus):not(.invalid)
  input:not(:hover):not(:focus):not(.ng-invalid)
  textarea:not(:hover):not(:focus):not(.ng-invalid)
    background rgba(inputColor, 7%)
    color textColor
    border-color transparent
    box-shadow none

  .glyphed > .glyphicon:first-child
    margin 0 6px 0 -3px

  :focus
    outline none

/******************************************************************************
 * Left Column
 */

.column-and-main > .column
  transition width animationDuration
  // list will take all available vertical space
  display flex
  flex-flow column

  .print-call-list
    text-align center
    margin-bottom 10px

  h2
    // header text will take all available horizontal space
    display flex
    align-items center

    span
      font-size (fontSize*1.6)
      font-family headingFont
      flex 1

    .btn > .glyphicon
      margin 0

  .input-group
    margin 20px 0 0

    input::-webkit-input-placeholder
      font-style italic

  .list-length
    color headingColor
    text-align center
    display block
    margin 1em 0

  .table
    flex 1
    margin 0
    // tbody text will take all available vertical space
    display flex
    flex-flow column

    // make raw as block, and cell as inline element with fixed width
    tr 
      display block
      font-size 0
    th, td
      display inline-block
      box-sizing border-box
      font-weight normal
    th
      font-family headingFont
    td
      word-break break-word

    // we MUST have fixed width columns
    for width, i in 30 35 15 20
      td:nth-child({i+1})
        width unit(width, '%')
      th:nth-child({i+1})
        width unit((width - 2), '%')

    tbody
      // take all vertical space
      flex 1
      overflow auto

      tr:hover
        background linkColor
        *
          cursor pointer

    thead tr
      background headerBackground
      color headerColor
      font-weight normal

    // use white icons, make lastname bold and add stripes
    td       
      .glyphicon-ok
        color successColor
      .glyphicon-exclamation-sign
        color errorColor
    td:nth-child(2)
      font-weight bold
    tr:nth-child(even)
      background colBackground

.column-and-main > .column.expanded

  .input-group
    width 300px
  > .tags
  > .list-length
    display inline-block

  th
    cursor pointer

    .glyphicon
      margin-left 0.5em
      color white

  td:nth-child(2)
    font-weight normal
  td:nth-child(3)
    font-weight bold

  .input-row
    display flex

    .input-group
      margin 0

    .tags 
      margin-left 1em

  // we MUST have fixed width columns
  // title, firstname, lastname, certificate, payement, age, birth, known-by, phone, mobile, email, address 
  for width, i in 4 7 10 3 3 3 8 9 9 9 15 20
    td:nth-child({i+1}), th:nth-child({i+1})
      width unit(width, '%')

  .export.btn
    margin-right 7px

  .known-by
    margin-right 5px

/******************************************************************************
 * Main Part
 */

.column-and-main > .main
  padding-top 80px

  header
    position absolute
    top 15px
    right 0
    background colBackground
    padding 1em
    z-index 1
    border-radius 0 0 0 1em

  .commands
    text-align center

  .planning
    height 500px
    margin 10px 0

/******************************************************************************
 * Card
 */

.card
  overflow-x hidden
  overflow-y auto
  height 100%
  box-sizing border-box
  padding-right 10px
  padding-top 25px

  > article
    position relative
    border-top 2px solid headingColor
    margin 10px 0
    padding 0 1em 1em

    for selector in "&" ".address" ".dancer"
      {selector} > .btn
      {selector} > .btn-group
        position absolute
        right 15px
        top -20px
        
      {selector} > .btn
        box-shadow 0 0 0 3px mainBackground

      {selector} > .btn-group
        background mainBackground

    for selector in ".address" ".dancer"
      {selector}:not(:hover) > .btn
      {selector}:not(:hover) > .btn-group
        background colBackground
    
    > h2
      border-top none
      line-height 10px
      font-size fontSize*1.6
      background mainBackground
      position relative
      display inline
      top -10px
      left 25px
      padding 0 5px

    .dancer
    .address 
    .dancer-classes
      border-top 1px solid headingColor
      margin-top 16px
      position relative

      > .btn
        top -20px
        box-shadow 0 0 0 3px colBackground

      > h4
        font-size fontSize*1.3
        background colBackground
        display inline-block
        position relative
        margin -10px 0 0
        bottom 11px
        left 12px
        padding 0 5px

    .card-dancer
    .card-dancer-classes
      border-radius inputRadius
      background colBackground
      padding 6px
      margin 6px -12px

    .dancer 
      .title
        // cause name overlaps
        z-index 1

    .address
      .zipcode input
        min-width 60px
      .city label
        width 45px
      .phone label
        width 75px

    .address .read-only
      .zipcode, .city, .street 
        margin-top 5px
        margin-left 10px 
      &.phone
        label
          width auto 
        span
          margin-top 5px 


    .row
      > span
        display flex

      .input-group
        flex 1
        display flex

        .input-group-addon
          width 30px
          height 28px
          padding 4px

      input[type=text],
      input[type=email]
        flex 1
        margin-bottom 5px
        margin-left 5px
        height auto

      input[type=checkbox]
        margin 8px 0 0 5px

      label
        width 100px
        text-align right
        display inline-block
        cursor default
        margin 5px 5px 0 0
        color labelColor

      textarea
        flex 1
        margin 0 0 5px 5px
        resize none
        height 3.6em
        display inline-block
        box-sizing border-box

    .known-by
      display flex
      flex-flow wrap

      > span
        min-width 128px
        margin 2px 10px 2px 0

      label
        cursor pointer
        text-align left
        width auto
        margin 4px 0 0 2px
        display inline
        color labelColor

      input[type="checkbox"]
        vertical-align -2px

    .known-by-other
      flex 1
      display inline-flex

      label 
        vertical-align 2px
        width auto
        text-align left
      input 
        margin-right 5px
        height 28px
        flex 1

/******************************************************************************
 * Popups
 */

.register
  max-height inherit

  > span
    display block
    margin-bottom 15px

  .planning
    width 100%
    height 400px
    font-size 10px

.search-dancer 
  
  input
    margin-left 10px
    width 50%

  > div:not(:last-child) 
    margin-bottom 10px

/******************************************************************************
 * Focusable components
 */

body
  
  .focusable
    input
    textarea
      transition background focusDuration, border focusDuration
    .input-group-addon
      transition background focusDuration, border focusDuration

  .focusable:not(:hover)
    
    input:not(:focus)
    textarea:not(:focus)
    .btn.dropdown-toggle
    .input-group-addon:first-child
    .input-group-addon:last-child
      border-color transparent
      background transparent

    .btn.dropdown-toggle
    .input-group-addon:first-child
    .input-group-addon:last-child
      color rgba(textColor, 50%)

    .btn
      background transparent
      color rgba(textColor, 50%)
      border-color transparent

/******************************************************************************
 * Bootstrap overload
 */

body
  
  h1, h2, h3
    line-height 40px

  label
    font-weight normal

  .table>thead>tr>th
    border-bottom 0
  .table>thead>tr
    border-bottom 2px solid tableBorderColor

  .glyphicon
  .caret
    top 2px
    cursor pointer

  .modal-content
    background mainBackground
    border-radius 0 2em

    .modal-header
      background headerColor
      border none
      border-radius 0 2em 0 0

      h3
        color headerBackground
        border none

    .modal-footer
      background colBackground
      padding 10px
      border-radius 0 0 0 2em
      border none
      box-shadow none

  .tooltip.top
    z-index 1100
    .tooltip-inner
      background infoBtnBackground
    .tooltip-arrow
      border-top-color infoColor

  .dropdown-menu
    text-align left
    background btnBackground

    li > a:hover
      background mainBackground
      color textColor

  .dropdown-menu.right
    left auto
    right 0

  .btn.dropdown-toggle:focus
    box-shadow 0 0 0 1px focusColor

  .btn-group.open .btn.dropdown-toggle
    background btnBackgroundHover

  select
  textarea
  input:not([type="checkbox"])
  input:not([type="radio"])
    padding 4px 6px  


  input[type="checkbox"]
  input[type="radio"]
    cursor pointer

  textarea:hover
  input:not([type="checkbox"]):hover
  input:not([type="radio"]):hover
    border-color tableBorderColor


  select:focus
  textarea:focus
  input[type="text"]:focus
  input[type="number"]:focus
  input[type="email"]:focus
  input[type="url"]:focus
  input[type="search"]:focus
  input[type="tel"]:focus
  .uneditable-input:focus
    border-color focusColor
    box-shadow 0 0 8px focusColor
    outline focusColor auto 5px
    color infoColor

  a:focus
  button:focus
  .btn:focus
    box-shadow 0 0 3px 1px focusColor
    outline 0

  textarea
  input[type="text"]
  input[type="number"]:focus
  input[type="email"]
  input[type="url"]
  input[type="search"]
  input[type="tel"]
  .uneditable-input
    background-color inputColor
    border-width 1px
    border-radius inputRadius
    color focusTextColor

  .text-error
    color lighten(errorColor, 30%)

  .input-group 
    input:first-child
      border-radius inputRadius 0 0 inputRadius
      font-size fontSize

    input:last-child
      border-radius inputRadius 0 0 inputRadius 
      font-size fontSize

    .input-group-addon
      background-color headerBackground
      color headerColor
      border-color textColor
      text-shadow none
    
      &:last-child
        border-left 1px solid textColor
      &:first-child
        border-right 1px solid textColor
      &[href]
      &[href] > i
        cursor pointer

  .btn > .caret
    display inline-block
    margin-left 5px

  .btn 
    padding 4px 12px
    color btnColor
    font-size fontSize
    border-color rgba(0, 0, 0, 0.25)
    background-color btnBackgroundHover
    background-image btnBackground

  .btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] 
    color btnColor
    background-color btnBackgroundHover

  .btn-primary 
    color emphasisColor
    background-color primaryBtnBackgroundHover
    background-image primaryBtnBackground

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] 
    background-color primaryBtnBackgroundHover

  .btn-warning 
    color btnColor
    background-image warningBtnBackground

  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] 
    background-color warningBtnBackgroundHover

  .btn-danger 
    color errorTextColor
    background-image dangerBtnBackground

  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] 
    background-color dangerBtnBackgroundHover

  .btn-success 
    color btnColor
    background-image successBtnBackground

  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] 
    background-color successBtnBackgroundHover

  .btn-info 
    color btnColor
    background-image infoBtnBackground

  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] 
    background-color infoBtnBackgroundHover

  [data-datepicker-popup] ~ .dropdown-menu
  [datepicker-popup] ~ .dropdown-menu
    background headerBackground
    padding 5px

    tbody .btn
      background mainBackground
      color headerColor

    tbody .btn.active
      background emphasisColor

      .text-info
        color headerColor