@import 'variable'

/******************************************************************************
 * Tags
 */

.tags
  
  .tag
    cursor default 
    color headingColor
    display inline-block
    padding .2em
    padding-left .5em
    font-size fontSize*0.9
    border-radius 0 1em
    background-color rgba(emphasisColor, 0.5)
    margin-top 6px
    line-height 20px

    .close
      padding 0 0.2em
      color headingColor
      opacity 0.5
      text-shadow 0 1px 0 emphasisColor

    .close:hover
      opacity 1

  .tag:not(:last-child)
    margin-right 6px

  .tag.season
    background errorColor
    color errorTextColor

  .tag.teacher
    background linkColor
    color errorTextColor

/******************************************************************************
 * Planning
 */

for color, i in planningColors
  .tags .color{i+1}
  .color{i+1}
    background-color color
    color emphasisColor

    .close
      color emphasisColor
      text-shadow 0 1px 0 inputColor

.planning
  titleH = 20px
  titleMrg = 5px
  groupH = 40px
  legendH = 30px

  width 100%
  height 100%
  box-sizing border-box
  padding-bottom titleH + titleMrg + groupH + legendH

  .time
    background-color colBackground
    color headingColor
    text-align right
    width 6.5%

    .q0
      font-size fontSize*0.8
      line-height 1em
      padding 0.2em
      text-align right

    .groups
      color transparent

  .day 
  .time
    box-sizing border-box
    display inline-block
    height 100%
    position relative
    margin-top titleH + titleMrg + groupH

  // day limit
  .day:not(:nth-child(6))
    border-right 1px solid lighten(headerColor, 50%)

  .quarter
    box-sizing border-box

  // hour limit
  .quarter.q0
    border-top 1px solid lighten(headerColor, 25%)

  // half-hour limit
  .quarter.q2
    border-top 1px dashed lighten(headerColor, 50%)

  // day column header
  .title
    text-align center
    background-color headerBackground
    color headerColor
    font-family headingFont
    box-sizing border-box
    height titleH
    position absolute
    top -(titleH + groupH + titleMrg)
    width 100%

  // group sub-column header
  .groups
    background-color colBackground
    color headingColor
    display flex
    flex-flow row wrap
    height groupH
    position absolute
    top -(groupH)
    width 100%

    > *
      flex 1
      text-align center
      overflow hidden
      line-height 1.5em
      margin auto 0
      padding 0.2em
      box-sizing border-box
      font-size fontSize*0.8

    > *:not(:last-child)
      border-right 1px solid headingColor

  .danceClass
    border-radius 0 1em
    padding 0.2em
    box-sizing border-box
    position absolute
    overflow hidden
    text-align center
    cursor pointer
    text-overflow ellipsis 

  .danceClass.selected
    background-color linkColor

  .legend
    margin-top 10px
    text-align right
    display block
    height legendH
    color headingColor
    font-family headingFont

    > span
      cursor pointer
      color emphasisColor
      border-radius 0 1em
      font-size fontSize*0.9
      font-family textFont
      padding 0 .8em
      margin 0 0 0 8px
      display inline-block

for i in 2..7
  .planning.days{i} .day
    // 6.5% for time
    width unit((100 - 6.5) / i, '%')

for i in 6..20
  .planning.hours{i} 
    .quarter
      height unit(100 / (i * 4), '%')  

/******************************************************************************
 * Registration
 */

.registration
  
  .certificate
    position absolute
    right 10px
    top: -14px
    background colBackground
    padding 0 6px
    line-height 21px
    vertical-align top
    cursor pointer

    input
      margin-right 6px

  h3
    border none
    font-size fontSize*1.4

    // payment input
    .input-group
      display inline-flex
      line-height 1.2em

      input
        text-align right
        width 75px
      .input-group-addon
        padding 6px 18px 6px 10px

    .add-payment
      margin-top 6px

  // dance classes, displayed in a row
  .dance-classes
    display flex
    flex-flow row wrap
    margin-bottom 10px

    .danceClass
      display block
      padding 5px 10px
      color labelColor

      .kind
        padding .2em 1em
        border-radius 0 1em
        display block

      .hour
      .level
        font-size fontSize*0.9
      .level
        padding-right 1em

    .danceClass:not(:last-child)
      border-right 1px solid emphasisColor

  // payement balance highlight
  .balance-low 
    color lowColor = lighten(errorColor, 30%)

    .input-group-addon
      background-color lowColor

  .balance-right 
    color successColor
    
    .input-group-addon
      background-color successColor

  // payement displayal
  .payments 

    > *
      display flex
      flex-flow row

      > *
        flex 1

    h3
      text-align center
      background headerBackground
      color headerColor
      border none
      line-height 30px
      margin 5px 0

      > *
        font-family headingFont

      .remove
        width 26px
        flex none

      .receipt
        margin-left 4px
        padding 0 7px

    input
      margin 0 4px
      height 28px

    .input-group input:first-child
      margin-right 0

    .total
      display block
      text-align right
      font-weight bold

      .input-group span:not(.input-group-addon)
        display table-cell
        padding 4px 6px
      
    .type
      flex none
      height 30px
      margin-right 0px
      width 120px

      .dropup
        text-align left

    .receipt
      flex none
      width 115px

      input
        width 90px

      .input-group-addon
        padding 0px 5px

      .dropdown-menu
        top inherit !important
        bottom 30px

    .remove.btn
      flex none
      height 27px
      margin-right 5px
      padding 4px

    .value.input-group
      margin-right 4px

    .value
    .total .input-group
      flex none
      width 64px
      margin-bottom 5px
      display inline-table

      input
      span:not(.input-group-addon)
        width 42px
        text-align right

      span.input-group-addon
        padding 4px

// hover behaviour
.payment.focusable:hover .remove.btn
  background headerBackground
  color headerColor
  border-color textColor
  text-shadow none