@import 'variable'

secondaryColor = #888
fontSize = 14px

box() 
  border 1px solid secondaryColor
  margin 0 15px
  padding 5px

html 
  background transparent

body
  padding 20px
  background transparent

  *
    font-family Verdana
    font-size fontSize

  p 
    margin 0 0 0.5em 0
  p:last-child
    margin-bottom 0
  
  header
    display flex
    margin 0
    justify-content center

    .logo
      width 65px
      height 60px

    .school
    .registration
      box()
      width 40%

    .school
      > p 
        margin 0

      > p:first-child
        font-weight bold
        font-size 110%

    .registration > p
      text-align center
      font-weight bold
      font-size 130%

  .payment
    box()

  .dancers
    articlePad = 10px
    rowPad = 3px

    > article
      margin 15px 0 0
      border 1px solid secondaryColor
      display flex
      padding (articlePad - rowPad) (articlePad - rowPad)
    
      > aside
        width 50%
        padding 0 rowPad

    .dance-classes > article:not(:first-child)
      margin-top (articlePad/2)
      padding-top (articlePad/2)
      border-top 1px solid secondaryColor

    .row
      margin rowPad 0

      label
        margin-right articlePad
        display inline-block
      label:not(:first-child)
        margin-left articlePad * 2
      span
        font-weight bold

  .two-columns
    height 600px
    margin 10px 0
    display flex
    flex-flow column wrap

    > *
      width 48%
      margin-left 10px
      margin-right 10px
      font-size 90%
      text-align justify

  .settlement
    text-align center
    font-variant small-caps

  .pre-filled
    box()
    height 150px

    .row
      display flex
      margin-bottom 0.5em

  .input
    display inline-block
    flex 1
    min-width 60px
    margin 0 0.5em 0
    border-bottom 1px dashed #888
    
  .stamp
    margin-top 10px

  .btn
    position absolute
    left 46%
    color emphasisColor
    background-color primaryBtnBackgroundHover
    background-image primaryBtnBackground
    cursor pointer
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    padding 4px 12px
    margin-bottom 0
    font-size fontSize
    line-height 20px
    text-align center
    vertical-align middle
    border 1px solid #cccccc
    border-radius 3px
    box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)

  .btn:hover, .btn:focus, .btn:active, .btn.active
    background-color primaryBtnBackgroundHover
    outline 0

  .check
    display inline-block
    width 15px
    height 15px
    border 1px solid black
    vertical-align -3px

body.call-list
    
  h1, h2
    text-align center
    font-size 120%
    margin 0 0 8px 0

  h2
    font-size 100%

  .table
    border-collapse collapse
    
    td, th
      padding 0.3em
    
    thead > tr
      color white
      background-color secondaryColor
      text-align center
    
    tr:not(:first-child) td 
      border-top 1px solid secondaryColor

    tr > td:not(:first-child)
      text-align center