/******************************************************************************
 * Font declaration: wrapped into a function to be overriden and invoked after
 * importations
 */

declareFonts()
  @font-face
    font-family Quicksand
    src url(../style/fonts/Quicksand-Regular.ttf) format('opentype')

  @font-face
    font-family Montserrat
    src url(../style/fonts/Montserrat-Regular.ttf) format('truetype')

  @font-face
    font-family Montserrat
    font-weight bold
    src url(../style/fonts/Montserrat-Bold.ttf) format('truetype')

  @font-face
    font-family Alfa Slab One
    font-weight bold
    src url(../style/fonts/alfa-slab-one.ttf) format('truetype')

/******************************************************************************
 * Texts
 */

headerColor = #e7d8b1
headingColor = #e7d8b1
btnColor = #403b3f
emphasisColor = #201b21
textColor = #f0e9cf
labelColor = darken(textColor, 20%)
focusTextColor = #333
fontSize = 13px
headingFont = Montserrat, Verdana
textFont = Quicksand
linkColor = #5fc0ce
warningColor = #f89406
errorColor = #890f0f
errorTextColor = #ffffff
infoColor = #03899c
successColor = #6fb86f
focusColor = rgba(#36BBCE,.8)
focusBackground = inputColor
inputColor = #ffffff
tableBorderColor = #ddd
inputRadius = 3px
impactFont = Alfa Slab One

/******************************************************************************
 * Print specific
 */

printFontFamily = Verdana
printFontSize = 16px

/******************************************************************************
 * Animations
 */

focusDuration = 200ms
animationDuration = 250ms
collapsedColumnWidth = 25%
expandedColumnWidth = 100%
visibleMainWidth = 75%

/******************************************************************************
 * Backgrounds
 */

mainBackground = #625c5E
headerBackground = #201b21
colBackground = #494245 //rgba(black, 0.2)

btnBackground = linear-gradient(to bottom, lighten(headingColor, 30%), headingColor)
btnBackgroundHover = linear-gradient(to bottom, headingColor, headingColor)

primaryBtnBackground = linear-gradient(to bottom, headingColor, darken(headingColor, 30%))
primaryBtnBackgroundHover = linear-gradient(to bottom, darken(headingColor, 30%), darken(headingColor, 30%))

warningBtnBackground = linear-gradient(to bottom, lighten(warningColor, 30%), warningColor)
warningBtnBackgroundHover = linear-gradient(to bottom, warningColor, warningColor)

dangerBtnBackground = linear-gradient(to bottom, lighten(errorColor, 30%), errorColor)
dangerBtnBackgroundHover = linear-gradient(to bottom, errorColor, errorColor)

successBtnBackground = linear-gradient(to bottom, lighten(successColor, 30%), successColor)
successBtnBackgroundHover = linear-gradient(to bottom, successColor, successColor)

infoBtnBackground = linear-gradient(to bottom, lighten(infoColor, 30%), infoColor)
infoBtnBackgroundHover = linear-gradient(to bottom, infoColor, infoColor)


// up to 50
// http://paletton.com/#uid=71T0X0k7vs+1qO542-+bBoBg3kB
// http://paletton.com/#uid=72h0X0knUtBemH2j-xjsGq7uKk-
colors = (#efce77 #afaca4 #fffdef #adaa8f #efd3b3 #a7b5bf #e7e7b1 #8eb98e #8e789a #e7b1b1 #b1df38 #269582 #b42e88 #ec833c #a4a452 #418341 #5b3a6e #a45252 #729b06 #046857 #7d0556 #a44606 #fffFdf #b9d4b9 #b0a2b7 #fFdfdf #c8f15e #c8f15e #c54d9e #fFa263)