/******************************************************************************
 * Overriden variables 
 */
 
/*
  @font-face
    font-family JF Shadow
    font-weight bold
    src url(../style/fonts/JacquesFrancoisShadow-Regular.ttf) format('truetype')

*/