/******************************************************************************
 * Themes freely inspired from Popcorn-Time, dark
 */

declareFonts()
  @font-face
    font-family Open Sans
    src url(../style/fonts/OpenSans-Regular.ttf) format('opentype')

  @font-face
    font-family Open Sans
    src url(../style/fonts/OpenSans-Italic.ttf) format('opentype')
    font-style italic

  @font-face
    font-family Open Sans
    src url(../style/fonts/OpenSans-Bold.ttf) format('opentype')
    font-weight bold

headingFont = Open Sans
textFont = Open Sans
impactFont = Open Sans

mainBackground = #1B1C1F
colBackground = #1B1C1F
headerBackground = #0F0F12
textColor = #C3C5C7
labelColor = #FFF
headerColor = labelColor
headingColor = labelColor
btnColor = labelColor
emphasisColor = #80A4C0
focusColor = #333
focusBackground = labelColor
linkColor = #B54226
successColor = #80C9A6
errorColor = #FF4100
teacherColor = #D39747
seasonColor = emphasisColor

inputRadius = 0

btnBackground = #346388
btnBackgroundHover = #507C9D

primaryBtnBackground = #319364
primaryBtnBackgroundHover = #50AA7F

warningBtnBackground = #D39747
warningBtnBackgroundHover = #F5BD73

// http://paletton.com/#uid=63x0w0kleqtbzEKgVuIpcmGtdhZ
colors = (#346388 #434093 #319364 #D39747 #7FA4C0 #8E8BC9 #80C9A6 #FFD8A3 #507C9D #615EAB #50AA7F #F5BD73 #1F4F74 #2C297E #1B7E4E #B57826 #0E3A5C #191664 #096438 #8F570D)