<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../style/dancerm.css"/>
  </head>
  <body>
    <div data-ui-view></div>
    <script type="application/javascript" src="../vendor/jquery.js"></script>
    <script type="application/javascript" src="../vendor/d3.js"></script>
    <script type="application/javascript" src="../vendor/nvd3.js"></script>
    <script type="application/javascript" src="../vendor/angular.js"></script>
    <script type="application/javascript" src="../vendor/angular-animate.js"></script>
    <script type="application/javascript" src="../vendor/angular-ui-router.js"></script>
    <script type="application/javascript" src="../vendor/angular-nvd3.js"></script>
    <script type="application/javascript" src="../vendor/ui-bootstrap-tpls.js"></script>
    <script type="application/javascript" src="../script/main.js"></script>
  </body>
</html>