<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../style/dancerm.css"/>
  </head>
  <body>
    <div data-ui-view></div>
    <script type="application/javascript" src="../vendor/jquery/jquery.min.js"></script>
    <script type="application/javascript" src="../vendor/angular/angular.min.js"></script>
    <script type="application/javascript" src="../vendor/angular-ui-router/build/angular-ui-router.min.js"></script>
    <script type="application/javascript" src="../vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="application/javascript" src="../script/main.js"></script>
  </body>
</html>