<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <body data-ng-controller="Print as ctrl" class="call-list printing">
    <h1>{{ctrl.danceClass.kind}} {{ctrl.danceClass.level}}</h1>
    <h2>{{ctrl.danceClassHour()}}</h2>
    <table class="table">
      <thead>
        <th>{{::'ttl.dancer'|i18n}}</th>
        <th data-ng-repeat="date in ctrl.dates">{{date}}</th>
      </thead>
      <tbody>
        <tr data-ng-repeat="dancer in ctrl.list">
          <td>{{dancer.title}} {{dancer.firstname}} {{dancer.lastname}}</td>
          <td data-ng-repeat="date in ctrl.dates"><span class="check"></span></td>
        </tr>
      </tbody>
    </table>
    <script type="application/javascript" src="../vendor/angular.js"></script>
    <script type="application/javascript" src="../vendor/angular-sanitize.js"></script>
    <script type="application/javascript" src="../vendor/angular-locale.fr.js"></script>
    <script type="application/javascript" src="../vendor/angular-elastic.js"></script>
    <script type="application/javascript" src="../script/print/call_list.js"></script>
    <script type="application/javascript" src="../script/print.js"></script>
  </body>
</html>