<div class="card">
  <!-- dancers displayal and their addresses -->
  <article>
    <span class="btn-group hidable" data-uib-dropdown keyboard-nav>
      <button class="btn glyphed dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-plus"/>{{::'btn.addDancer'|i18n}}<span class="caret"></span></button>
      <ul class="dropdown-menu right">
        <li><a href="" data-ng-click="ctrl.addDancer()">{{::'btn.addNewDancer'|i18n}}</a></li>
        <li><a href="" data-ng-click="ctrl.searchCard()">{{::'btn.addExistingDancer'|i18n}}</a></li>
      </ul>
    </span>
    <h2>{{::'ttl.card'|i18n}}</h2>
    <article class="card-dancer" data-ng-repeat="dancer in ctrl.dancers">
      <dancer
        data-src="dancer"
        data-can-load="ctrl.dancers.length === 1"
        data-on-load="ctrl.loadCard(model.cardId)"
        data-on-register="ctrl.addRegistration(model)"
        data-on-remove="ctrl.removeDancer(model)"
        data-required-fields="ctrl.required[dancer.id]"
        data-on-change="ctrl._onChange('dancers['+$item+'].'+$field)">
      </dancer>
      <address
        data-src="ctrl.addresses[$index]"
        data-read-only="ctrl.isAddressReadOnly(dancer)"
        data-can-remove="ctrl.isAddressRemovable(dancer)"
        data-on-affect="ctrl.addAddress(dancer)"
        data-on-remove="ctrl.removeAddress(dancer)"
        data-required-fields="ctrl.required[ctrl.addresses[$index].id]"
        data-on-change="ctrl._onChange('addresses['+$item+'].'+$field)">
      </address>
    </article>
  </article>
  <!-- card common fields -->
  <article>
    <h2>{{::'ttl.knownBy'|i18n}}</h2>
    <div class="known-by">
      <span data-ng-repeat="(value, label) in ctrl.i18n.knownByMeanings" data-ng-class="ctrl.knownBy[value] ? 'selected' : ''">
        <input data-ng-model="ctrl.knownBy[value]" type="checkbox" id="{{value}}" data-ng-change="ctrl.setKnownBy()"/><label for="{{value}}">{{label}}</label>
      </span>
      <span data-ng-class="ctrl.knownByOther ? 'selected' : ''" class="known-by-other"><input type="text" data-ng-model="ctrl.knownByOther" data-ng-change="ctrl.setKnownBy()"/><label>{{::'lbl.other'|i18n}}</label></span>
    </div>
  </article>
  <!-- invoice without active registration -->
  <article  data-ng-if="!ctrl.card.registrations.length">
    <span class="btn-group invoice-without-registration hidable">
      <span class="btn-group" data-uib-dropdown>
        <a href="" class="btn glyphed dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-euro"/>{{::'btn.invoiceWithoutRegistration'|i18n}}<span class="caret"></span></a>
        <ul class="dropdown-menu right">
          <!-- don't order by teachers, or $index will be the wrong one ! -->
          <li data-ng-repeat="teacher in ctrl.conf.teachers"><a href="" data-ng-click="ctrl.editInvoice($index)">{{::'btn.editInvoice'|i18n:{args:teacher} }}</a></li>
          <li class="divider"></li>
          <li data-ng-repeat="invoice in ctrl.allInvoices"><a href="" data-ng-click="ctrl.displayInvoice(invoice)">{{ctrl.conf.teachers[invoice.selectedTeacher].owner}} - {{invoice.ref}} - {{invoice.total}}{{'lbl.currency'|i18n}}</a></li>
        </ul>
      </span>
    </span>
  </article>
  <!-- registrations -->
  <uib-tabset class="registration-tabs" data-ng-if="ctrl.card.registrations.length">
    <uib-tab data-ng-repeat="registration in ctrl.card.registrations"
         data-heading="{{::registration.season}}"
         classes="{{ctrl.required.regClasses[$index]}}">
      <registration
        data-src="registration"
        data-dancers="ctrl.dancers"
        data-invoices="ctrl.invoices[$index]"
        data-on-remove="ctrl.removeRegistration(model)"
        data-on-print-settlement="ctrl.printSettlement(registration, selectedTeacher)"
        data-on-edit-invoice="ctrl.editInvoice(teacher, registration)"
        data-on-display-invoice="ctrl.displayInvoice(invoice)"
        data-required-fields="ctrl.required.regs[$index]"
        data-on-change="ctrl._onChange('registrations['+$index+'].'+$field)"/>
    </uib-tab>
  </uib-tabset>
</div>