<div class="card">
  <header>
    <a href="" class="btn glyphed" data-ng-click="ctrl.back()"><i class="glyphicon glyphicon-arrow-left"/>{{'btn.backToList'|i18n}}</a>
    <a href="" class="btn btn-primary glyphed" data-ng-show="ctrl.hasChanged" data-ng-click="ctrl.save()"><i class="glyphicon glyphicon-floppy-disk"/>{{'btn.save'|i18n}}</a>
    <a href="" class="btn btn-warning glyphed" data-ng-show="ctrl.hasChanged" data-ng-click="ctrl.cancel()"><i class="glyphicon glyphicon-ban-circle"/>{{'btn.cancel'|i18n}}</a>
  </header>
  <!-- dancers displayal and their addresses -->
  <article>
    <a href="" class="btn btn-primary" data-ng-click="ctrl.addDancer()"><i class="glyphicon glyphicon-plus"/>{{'btn.addDancer'|i18n}}</a>
    <h2>{{'ttl.card'|i18n}}</h2>
    <article class="card-dancer" data-ng-repeat="dancer in ctrl.dancers">
      <dancer
        data-src="dancer"
        data-on-load="ctrl.loadDancer(model)"
        data-on-change="ctrl.onChange(model, hasChanged)"
        data-on-register="ctrl.addRegistration(model)">
      </dancer>
      <address
        data-src="ctrl.addresses[$index]"
        data-read-only="ctrl.isAddressReadOnly(dancer)"
        data-on-affect="ctrl.addAddress(dancer)"
        data-on-change="ctrl.onChange(model, hasChanged)">
      </address>
    </article>
  </article>
  <!-- card common fields -->
  <article>
    <h2>{{'ttl.knownBy'|i18n}}</h2>
    <div class="known-by">
      <span data-ng-repeat="(value, label) in ctrl.i18n.knownByMeanings" data-ng-class="ctrl.knownBy[value] ? 'selected' : ''">
        <input data-ng-model="ctrl.knownBy[value]" type="checkbox" id="{{value}}" data-ng-change="ctrl.setKnownBy()"/><label for="{{value}}">{{label}}</label>
      </span>
      <span data-ng-class="ctrl.knownByOther ? 'selected' : ''" class="known-by-other"><input type="text" data-ng-model="ctrl.knownByOther" data-ng-change="ctrl.setKnownBy()"/><label>{{'lbl.other'|i18n}}</label></span>
    </div>
  </article>
  <!-- registrations -->
  <div data-registration 
    data-ng-repeat="registration in ctrl.card.registrations" 
    data-src="registration"
    data-dancers="ctrl.dancers"></div>
  <!-- data-on-edit="ctrl.onRegister(registration)"
    data-on-remove="ctrl.onRemoveRegistration(registration)"
    data-on-print="ctrl.onPrintRegistration(registration)" -->
</div>