<div class="modal-header">
  <h3>{{'ttl.resolveConflict'|i18n:{args:ctrl} }}</h3>
</div>
<div class="modal-body conflict">
  <div>{{::'msg.resolveConflict'|i18n}}</div>
  <h4>{{ctrl.name}}</h4>
  <table class="table conflict-table">
    <thead>
      <tr><th/><th>{{::'lbl.existingValue'|i18n}}</th><th>{{::'lbl.importedValue'|i18n}}</th></tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="field in ctrl.fields">
        <td>
          <span data-ng-if="field.season" class="tag season">{{field.season}}</span>
          <span data-ng-if="field.kind === 'payment'">{{::'lbl.payment'|i18n:{sep:true} }}</span>
          <span data-ng-if="field.kind === 'registration'">{{::'lbl.registration'|i18n:{sep:true} }}</span>
          <span data-ng-if="field.kind === 'address'">{{::'lbl.address'|i18n:{sep:true} }}</span>
          <span data-ng-if="field.kind === 'card'">{{::'lbl.card'|i18n:{sep:true} }}</span>
          <span data-ng-if="!field.kind">{{'lbl.' + field.label|i18n:{sep:true} }}</span>
        </td>
        <td>
          <input class="checkbox" data-ng-model="field.useImported" data-ng-value="false" type="radio" id="{{field.label}}-e"/>
          <label for="{{field.label}}-e" data-ng-bind-html="field.existing"></label>
        </td>
        <td>
          <input class="checkbox" data-ng-model="field.useImported" data-ng-value="true" type="radio" id="{{field.label}}-i"/>
          <label for="{{field.label}}-i" data-ng-bind-html="field.imported"></label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <a href="" data-ng-click="ctrl.save()" class="btn btn-primary">{{::'btn.saveConflict'|i18n}}</a>
  <a href="" data-ng-click="ctrl.loadNext()" class="btn">{{::'btn.ignore'|i18n}}</a>
  <a href="" data-ng-click="ctrl.cancel()" class="btn">{{::'btn.cancel'|i18n}}</a>
</div>