<div class="modal-header">
  <h3>{{'ttl.resolveConflict'|i18n:{args:ctrl} }}</h3>
</div>
<div class="modal-body search-dancer">
  <div>{{'msg.resolveConflict'|i18n:{args:ctrl.existing} }}</div>
  {{ctrl.modelFields()}}
  <div data-ng-if="ctrl.modelClass() === 'Dancer'" class="Dancer">
    <div data-ng-repeat="field in ctrl.modelFields()" class="line">
      <label>{{'ttl.' + field|i18n:{sep:true} }}</label><span class="existing">{{ctrl.existing[field]}}</span><span class="imported">{{ctrl.imported[field]}}</span>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>