<div class="dancer">
  <!-- dancer displayal -->
  <article>
    <h2>{{'ttl.generalInfo'|i18n}}</h2>
    <div class="row-fluid">
      <span class="span2">
        <div class="btn-group">
          <a href="" class="btn dropdown-toggle">{{dancer.title || i18n.civilityTitles[1]}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li data-ng-repeat="choice in i18n.civilityTitles"><a data-ng-click="onUpdateTitle(choice)">{{choice}}</a></li>
          </ul>
        </div>
      </span>
      <span class="span5"><label>{{'lbl.firstname'|i18n:{sep:true} }}</label><input type="text" name="firstname"  data-ng-model="dancer.firstname"/></span>
      <span class="span5"><label>{{'lbl.lastname'|i18n:{sep:true} }}</label><input type="text" name="lastname" data-ng-model="dancer.lastname"/></span>
    </div>
    <div class="row-fluid">
      <span class="span6"><label>{{'lbl.birth'|i18n:{sep:true} }}</label>
        <input class="birth {{birthValid ? '' : 'invalid'}}" type="text" data-ng-model="birth" data-ng-keyup="onBirthInput()"/>
      </span>
      <span class="span6"><label>{{'lbl.certified'|i18n:{sep:true} }}</label><input type="checkbox" name="certified" data-ng-model="dancer.certified"/></span>
    </div>
  </article>

  <article>
    <h2>{{'ttl.address'|i18n}}</h2>
    <div class="row-fluid">
      <span class="span1"><label>{{'lbl.street'|i18n:{sep:true} }}</label></span>
      <span class="span11"><textarea data-ng-model="dancer.address.street"/></span>
    </div>
    <div class="row-fluid">
      <span class="span6"><label>{{'lbl.zipcode'|i18n:{sep:true} }}</label><input type="text" name="zipcode" data-ng-model="dancer.address.zipcode"/></span>
      <span class="span6"><label>{{'lbl.city'|i18n:{sep:true} }}</label><input type="text" name="city" data-ng-model="dancer.address.city"/></span>
    </div>
  </article>

  <article>
    <h2>{{'ttl.contact'|i18n}}</h2>
    <div class="row-fluid">
      <span class="span6"><label>{{'lbl.cellphone'|i18n:{sep:true} }}</label><input type="text" name="cellphone" data-ng-model="dancer.cellphone"/></span>
      <span class="span6"><label>{{'lbl.phone'|i18n:{sep:true} }}</label><input type="text" name="phone" data-ng-model="dancer.phone"/></span>
    </div>
    <div class="row-fluid">
      <span class="span6"><label>{{'lbl.email'|i18n:{sep:true} }}</label><input type="email" name="email"  data-ng-model="dancer.email"/></span>
      <label class="span6">{{'lbl.knownBy'|i18n:{sep:true} }}</label>
    </div>
    <div class="row-fluid known-by">
      <span data-ng-repeat="(value, label) in i18n.knownByMeanings">
        <input data-ng-model="knownBy[value]" type="checkbox" id="{{value}}" data-ng-change="onUpdateKnownBy()"/><label for="{{value}}">{{label}}</label>
      </span>
      <span><label>{{'lbl.other'|i18n:{sep:true} }}</label><input type="text" data-ng-model="knownByOther"  data-ng-change="onUpdateKnownBy()"/>
      </span>
    </div>
  </article>

  <!-- registrations -->
  <div class="row-fluid registration-bar">
    <a href="" class="btn btn-primary" data-ng-click="onRegister()">{{'btn.register'|i18n}}</a>
  </div>

  <div data-registration 
    data-ng-repeat="registration in dancer.registrations" 
    data-src="registration" 
    data-on-edit="onRegister(registration)"
    data-on-remove="onRemoveRegistration(registration)"></div>

  <div class="pull-right btn-bar">
    <a href="" class="btn btn-primary" data-ng-click="onSave()">{{'btn.save'|i18n}}</a>
  </div>
</div>