<div class="dancer focusable">
  <a href="" class="btn glyphed" data-ng-click="ctrl.onRegister({model: ctrl.src})"><i class="glyphicon glyphicon-th-list"/>{{'btn.register'|i18n}}</a>
  <h4>{{'ttl.dancer'|i18n}}</h4>
  <div class="row">
    <span class="col-md-1 title">
      <div class="btn-group" data-dropdown>
        <a href="" class="btn dropdown-toggle" data-dropdown-toggle data-ng-class="ctrl.isRequired('title')">{{ctrl.src.title||ctrl.i18n.lbl.choose}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li data-ng-repeat="choice in ctrl.i18n.civilityTitles"><a data-ng-click="ctrl.setTitle(choice)">{{choice}}</a></li>
        </ul>
      </div>
    </span>
    <span class="col-md-5 firstname"><label>{{'lbl.firstname'|i18n:{sep:true} }}</label><input 
      type="text"
      data-ng-if="ctrl.isNew" 
      data-set-null
      data-ng-class="ctrl.isRequired('firstname')"
      data-ng-model="ctrl.src.firstname"
      data-typeahead="choice.firstname as choice.firstname+' '+choice.lastname for choice in ctrl.findByAttr('firstname', $viewValue) | filter:$viewValue | limitTo:20" 
      data-typeahead-min-length="3" 
      data-typeahead-on-select="ctrl.onLoad({model:$item})"/><input type="text" data-ng-if="!ctrl.isNew" data-ng-model="ctrl.src.firstname" data-ng-class="ctrl.isRequired('firstname')" data-set-null/></span>
    <span class="col-md-6 lastname"><label>{{'lbl.lastname'|i18n:{sep:true} }}</label><input 
      type="text" 
      data-ng-if="ctrl.isNew" 
      data-set-null
      data-ng-class="ctrl.isRequired('lastname')"
      data-ng-model="ctrl.src.lastname"
      data-typeahead="choice.lastname as choice.firstname+' '+choice.lastname for choice in ctrl.findByAttr('lastname', $viewValue) | filter:$viewValue | limitTo:20" 
      data-typeahead-min-length="3" 
      data-typeahead-on-select="ctrl.onLoad({model:$item})"/><input type="text" data-ng-if="!ctrl.isNew" data-ng-model="ctrl.src.lastname" data-ng-class="ctrl.isRequired('lastname')" data-set-null></span>
  </div>
  <div class="row">
    <span class="col-md-6 cellphone"><label>{{'lbl.cellphone'|i18n:{sep:true} }}</label><input type="text" name="cellphone" data-ng-model="ctrl.src.cellphone" data-set-null/></span>
    <span class="col-md-6 email"><label>{{'lbl.email'|i18n:{sep:true} }}</label><input type="email" name="email" data-ng-model="ctrl.src.email" data-set-null/></span>
  </div>
  <div class="row">
    <span class="col-md-6 birth"><label>{{'lbl.birth'|i18n:{sep:true} }}</label><span class="input-group">
        <input type="text"
          data-set-null
          data-datepicker-popup="{{'formats.birthSelection'|i18n}}" 
          data-is-open="ctrl.birthOpts.open"
          data-ng-model="ctrl.birthOpts.value"
          data-show-button-bar="false"
          data-datepicker-options="ctrl.birthOpts"
          data-ng-change="ctrl.setBirth()"/>
        <a href="" class="input-group-addon" data-ng-click="ctrl.toggleBirth($event)"><i class="glyphicon glyphicon-calendar"></i></a>
      </span>
    </span>
  </div>
</div>