<div class="home">
  <div class="btn-group">
    <a href="" class="btn dropdown-toggle" >{{selected.season}}<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li data-ng-repeat="planning in plannings"><a data-ng-click="selected = planning">{{planning.season}}</a></li>
    </ul>
  </div>
  <span data-planning data-src="selected" data-on-click="onDisplayClass(danceClass)"></span>
  <div class="row-fluid">
    <a href="" class="btn btn-primary" data-ng-click="navigateTo('/dancer')">{{'btn.newDancer'|i18n}}</a>
  </div>
  <article>
    <h2>{{'ttl.dancerList'|i18n:{sep:true} }}</h2>
    <ul>
      <li class="dancer" data-ng-repeat="dancer in list" data-ng-click="navigateTo('/dancer/'+dancer.id)">
        <span class="firstname" data-ng-bind="dancer.firstname"></span><span class="lastname" data-ng-bind="dancer.lastname"></span>
      </li>
    </ul>
  </article>
</div>