<div class="invoice-item focusable">
  <button class="btn remove" data-ng-click="ctrl.onRemove()"><i class="glyphicon glyphicon-trash"/></button>
  <div class="row">
    <span class="col-md-5 name"><input type="text" name="name" data-ng-model="ctrl.src.name" data-ng-change="ctrl.onChange({$field:'name'})" data-set-null/></span>
    <span class="col-md-1 quantity"><input type="number" name="quantity" data-ng-model="ctrl.src.quantity" data-ng-change="ctrl.onChange({$field:'quantity'})" data-set-null/></span>
    <span class="col-md-2 price"><filtered-input type="number" name="price" data-parse="ctrl.applyTax"  data-format="ctrl.removeTax" data-ng-model="ctrl.src.price" data-ng-change="ctrl.onChange({$field:'price'})" data-set-null></filtered-input>{{'lbl.currency'|i18n}}</span>
    <span class="col-md-2 vat">{{ctrl.vat|number}}%</span>
    <span class="col-md-2 total">{{ctrl.src.dutyFreeTotal|number|i18n:{currency:true} }}</span>
  </div>
</div>