<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <body class="invoice print" data-ng-controller="Print as ctrl">
    <div class="preview">
      <header>
        <img src="../style/img/ribas.png" class="logo"/>
        <div class="school">
          <p>{{::'lbl.school.name'|i18n}}</p>
          <p>{{::'lbl.school.street'|i18n}}</p>
          <p>{{::'lbl.school.zipcode'|i18n}} {{::'lbl.school.city'|i18n}}</p>
          <p>{{::'lbl.school.phone'|i18n}}</p>
          <p>{{::'lbl.school.siret'|i18n}}</p>
          <p>{{::'lbl.school.vat'|i18n}}</p>
        </div>
        <div class="customer">
          <p>{{ctrl.invoice.customer.name}}</p>
          <p>{{ctrl.invoice.customer.street}}</p>
          <p>{{ctrl.invoice.customer.zipcode}} {{ctrl.invoice.customer.city}}</p>
      </header>
      <div class="date">
        <span>{{'print.invoiceDate'|i18n}} {{::ctrl.displayDate()}}</span>
      </div>
    </div>
    <script type="application/javascript" src="../vendor/angular.js"></script>
    <script type="application/javascript" src="../vendor/angular-sanitize.js"></script>
    <script type="application/javascript" src="../script/controller/invoice.js"></script>
    <script type="application/javascript" src="../script/print.js"></script>
  </body>
</html>