<div class="invoice">
  <article class="focusable">
    <h2>{{'ttl.invoice'|i18n:{args:ctrl.invoice} }}</h2>
  </article>

  <div class="preview" data-ng-if="!ctrl.isReadOnly">
    <header>
      <img src="../style/img/ribas.png" class="logo"/>
      <div class="school">
        <p>{{::'lbl.school.name'|i18n}}</p>
        <p>{{::'lbl.school.street'|i18n}}</p>
        <p>{{::'lbl.school.zipcode'|i18n}} {{::'lbl.school.city'|i18n}}</p>
        <p>{{::'lbl.school.phone'|i18n}}</p>
        <p>{{::'lbl.school.siret'|i18n}}</p>
        <p>{{::'lbl.school.vat'|i18n}}</p>
      </div>
      <div class="customer">
        <p>
          <input type="text" data-ng-model="ctrl.invoice.customer.name" data-ng-change="ctrl._onChange({$field:'customer.name'})" data-set-null/>
        </p>
        <p>
          <input type="text" data-ng-model="ctrl.invoice.customer.street" data-ng-change="ctrl._onChange({$field:'customer.street'})" data-set-null/>
        </p>
        <p class="zip-and-city">
          <input type="number" data-ng-model="ctrl.invoice.customer.zipcode" data-ng-change="ctrl._onChange({$field:'customer.zipcode'})" data-set-null/>
          <input type="text" data-ng-model="ctrl.invoice.customer.city" data-ng-change="ctrl._onChange({$field:'customer.city'})" data-set-null/>
        </p>
    </header>
    <div class="date">
      <span class="input-group ng-class:ctrl.dateOpts.open?'open':'';">{{::'print.invoiceDate'|i18n}}
        <input type="text"
          data-set-null
          data-datepicker-popup="{{::'formats.invoiceSelection'|i18n}}"
          data-is-open="ctrl.dateOpts.open"
          data-ng-model="ctrl.dateOpts.value"
          data-show-button-bar="false"
          data-datepicker-options="::ctrl.dateOpts"
          data-popup-placement="right"
          data-ng-change="ctrl.setDate()"/>
        <a href="" class="input-group-addon" data-ng-click="ctrl.toggleDate($event)"><i class="glyphicon glyphicon-calendar"></i></a></span>
    </div>
  </div>
  <div class="preview" data-ng-if="ctrl.isReadOnly">
    <header>
      <img src="../style/img/ribas.png" class="logo"/>
      <div class="school">
        <p>{{::'lbl.school.name'|i18n}}</p>
        <p>{{::'lbl.school.street'|i18n}}</p>
        <p>{{::'lbl.school.zipcode'|i18n}} {{::'lbl.school.city'|i18n}}</p>
        <p>{{::'lbl.school.phone'|i18n}}</p>
        <p>{{::'lbl.school.siret'|i18n}}</p>
        <p>{{::'lbl.school.vat'|i18n}}</p>
      </div>
      <div class="customer">
        <p>{{ctrl.invoice.customer.name}}</p>
        <p>{{ctrl.invoice.customer.street}}</p>
        <p>{{ctrl.invoice.customer.zipcode}} {{ctrl.invoice.customer.city}}</p>
    </header>
    <div class="date">
      <span>{{'print.invoiceDate'|i18n}} {{::ctrl.displayDate()}}</span>
    </div>
  </div>
</div>