<div data-layout data-actions="ctrl.actions">
  <div class="column expanded">
    <h1>Work in progress</h1>
    <span class="input-group ng-class:ctrl.dateOpts.open?'open':'';">{{::'lbl.chooseInvoiceDate'|i18n}}
      <input type="text"
        data-set-null
        data-uib-datepicker-popup="{{::'formats.invoiceSelection'|i18n}}"
        data-is-open="ctrl.dateOpts.open"
        data-ng-model="ctrl.dateOpts.value"
        data-show-button-bar="false"
        data-datepicker-options="::ctrl.dateOpts"
        data-popup-placement="right"
        data-ng-change="ctrl.pickDate()"/>
      <a href="" class="input-group-addon" data-ng-click="ctrl.toggleDate($event)"><i class="glyphicon glyphicon-calendar"></i></a>
    </span>
    <ul>
      <li data-ng-repeat="invoice in ctrl.list">{{invoice.ref}} {{invoice.date}}</li>
    </ul>
  </div>
</div>
