<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <body class="invoice print" data-ng-controller="Print as ctrl">
    <div class="preview">
      <header>
        <img src="../style/img/ribas.png" class="logo"/>
        <div class="school">
          <p>{{::'lbl.schools[' + ctrl.selectedSchool + '].name'|i18n}}</p>
          <p>{{::'lbl.schools[' + ctrl.selectedSchool + '].street'|i18n}}</p>
          <p>{{::'lbl.schools[' + ctrl.selectedSchool + '].zipcode'|i18n}} {{::'lbl.schools[' + ctrl.selectedSchool + '].city'|i18n}}</p>
          <p>{{::'lbl.schools[' + ctrl.selectedSchool + '].phone'|i18n}}</p>
          <p>{{::'lbl.schools[' + ctrl.selectedSchool + '].siret'|i18n}}</p>
          <p>{{::'lbl.schools[' + ctrl.selectedSchool + '].vat'|i18n}}</p>
        </div>
        <div class="customer">
          <p>{{::ctrl.invoice.customer.name}}</p>
          <p>{{::ctrl.invoice.customer.street}}</p>
          <p>{{::ctrl.invoice.customer.zipcode}} {{::ctrl.invoice.customer.city}}</p>
        </div>
      </header>
      <div class="date">
        <span>{{::'print.invoiceDate'|i18n}} {{::ctrl.displayDate()}}</span>
      </div>
      <h1>{{'ttl.invoice'|i18n:{args:ctrl.invoice } }}</h1>
      <div class="items">
        <div class="header-line">
          <span class="name">{{::'lbl.designation'|i18n}}</span>
          <span class="quantity">{{::'lbl.quantity'|i18n}}</span>
          <span class="price">{{::'lbl.unitaryPrice'|i18n}}</span>
          <span class="vat">{{::'lbl.vatValue'|i18n}}</span>
          <span class="total">{{::'lbl.totalPrice'|i18n}}</span>
        </div>
        <invoice-item
          data-ng-repeat="item in ctrl.invoice.items"
          data-src="item"
          data-read-only="true">
        </invoice-item>
      </div>
      <div class="total-line">
        <span class="add-item"></span>
        <span class="subtotal">
          <div class="discount">
            <span>{{::'lbl.discount'|i18n}}</span>
            <span>{{::ctrl.invoice.discount}} %</span>
          </div>
          <div>
            <span>{{::'lbl.dutyFreeTotal'|i18n}}</span>
            <span>{{ctrl.invoice.dutyFreeTotal|number}}{{::'lbl.currency'|i18n}}</span>
          </div>
          <div>
            <span>{{::'lbl.taxTotal'|i18n}}</span>
            <span>{{ctrl.invoice.taxTotal|number}}{{::'lbl.currency'|i18n}}</span>
          </div>
          <div class="total">
            <span>{{::'lbl.invoiceTotal'|i18n}}</span>
            <span>{{ctrl.invoice.total|number}}{{::'lbl.currency'|i18n}}</span>
          </div>
        </span>
      </div>
      <div class="due-date">
        <span>{{::'print.invoiceDueDate'|i18n}} {{::ctrl.displayDate(ctrl.invoice.dueDate)}}</span>
      </div>
      <div class="delay">
        <span>{{'print.invoiceDelay'|i18n:{args: ctrl.invoice} }}</span>
      </div>
      <div class="various">
        <span>{{'print.invoiceVarious'|i18n}}</span>
      </div>
    </div>
    <script type="application/javascript" src="../vendor/angular.js"></script>
    <script type="application/javascript" src="../vendor/angular-sanitize.js"></script>
    <script type="application/javascript" src="../script/controller/invoice.js"></script>
    <script type="application/javascript" src="../script/print.js"></script>
  </body>
</html>