<div class="lesson-list">
  <div class="group" data-ng-repeat="group in ctrl.groups">
    <h3 data-ng-click="ctrl.onClick({model: group.dancer, selected: false})">{{group.dancer.firstname}} {{group.dancer.lastname}}</h3>
    <list
      data-src="group.lessons"
      data-columns="ctrl.columns"
      data-current-sort="ctrl.currentSort"
      data-on-click="ctrl.onClick({model: model, column: column})"
      data-on-toggle="ctrl.toggleLesson({model: model, selected: selected})"></list>
  </div>
</div>