<div data-layout data-actions="ctrl.actions">
  <div class="column expanded lessons">
    <div class="flex-row">
      <span class="planning-container">
        <nav>
          <a href="" class="btn btn-default glyphed" data-ng-click="ctrl.onPreviousWeek()"><i class="glyphicon glyphicon-chevron-left"></i>{{'btn.previousWeek'|i18n}}</a>
          <span uib-dropdown data-is-open="ctrl.dateOpts.open">
            <h2 data-uib-dropdown-toggle>{{ctrl.currentWeek()}}</h2>
            <span data-uib-dropdown-menu class="pull-center" data-ng-click="$event.stopPropagation()">
              <div
                class="uib-datepicker-popup"
                data-uib-datepicker
                data-ng-model="ctrl.dateOpts.value"
                data-ng-change="ctrl.onPickDate()"
                data-datepicker-options="ctrl.dateOpts"></div>
            </span>
          </span>
          <a href="" class="btn btn-default glyphed" data-ng-click="ctrl.onNextWeek()">{{'btn.nextWeek'|i18n}}<i class="glyphicon glyphicon-chevron-right"></i></a>
        </nav>
        <div
          data-planning
          data-src="ctrl.lessons"
          data-selected="ctrl.selected"
          data-days="ctrl.i18n.planning.days"
          data-group-by="selectedTeacher"
          data-width-offset="10"
          data-shrink-hours="false"
          data-get-legend="ctrl.affectLegend(model)"
          data-get-tooltip-content="ctrl.getPlanningTooltip(model, day)"
          data-get-title="ctrl.getPlanningTitle(model)"
          data-get-group="ctrl.getTeacherFromRank(model)"
          data-on-click="ctrl.editLesson(danceClasses[0], selected)"
          data-on-cell-click="ctrl.createLesson(day, hour)"
          data-clickable-cells="true"></div>
      </span>
      <span class="edition">
        <article class="focusable">
          <h2>{{::'ttl.editLesson'|i18n}}</h2>
          <div class="content" data-ng-if="ctrl.lesson == null">{{'msg.pickHour'|i18n}}</div>
          <div class="content" data-ng-if="ctrl.lesson != null">
            <div>
              <label>{{::'lbl.hours'|i18n:{sep:true} }}</label><span class="value">{{ctrl.formatDate(lesson.date)}}</span>
            </div>
            <div>
              <label>{{::'lbl.dancer'|i18n:{sep:true} }}</label><span data-ng-if="ctrl.isReadOnly" class="value">{{ctrl.selectedDancer.firstname+' '+ctrl.selectedDancer.lastname}}</span><input
                data-ng-if="!ctrl.isReadOnly"
                type="text"
                data-set-null
                data-ng-class="ctrl.required.includes('dancer') && 'invalid'"
                data-ng-model="ctrl.selectedDancer"
                data-uib-typeahead="((choice.firstname || '')+' '+(choice.lastname || '')).trim() for choice in ctrl.search($viewValue) | limitTo:20"
                data-typeahead-min-length="3"
                data-typeahead-on-select="ctrl.affectDancer($item)"/>
            </div>
            <div class="teacher"><label>{{::'lbl.teacher'|i18n:{sep:true} }}</label><span data-ng-if="ctrl.isReadOnly" class="value">{{ctrl.lesson.teacher}}</span>
              <div data-ng-if="!ctrl.isReadOnly" class="btn-group" data-uib-dropdown keyboard-nav>
                <button class="btn dropdown-toggle"
                  uib-dropdown-toggle
                  data-ng-class="ctrl.required.includes('teacher') && 'invalid'">{{ctrl.conf.teachers[ctrl.lesson.selectedTeacher].owner||ctrl.i18n.lbl.choose}}<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li data-ng-repeat="teacher in ctrl.conf.teachers"><a href="" data-ng-click="ctrl.setTeacher($index)">{{teacher.owner}}</a></li>
                </ul>
              </div>
            </div>
            <div class="duration"><label>{{::'lbl.duration'|i18n:{sep:true} }}</label><span data-ng-if="ctrl.isReadOnly" class="value">{{ctrl.lesson.duration}}</span><input data-ng-if="!ctrl.isReadOnly" type="number" name="duration" data-ng-model="ctrl.lesson.duration" data-ng-change="ctrl.onChange('duration')" data-set-null/>{{::'lbl.durationUnit'|i18n}}</div>
            <div class="price"><label>{{::'lbl.price'|i18n:{sep:true} }}</label><span data-ng-if="ctrl.isReadOnly" class="value">{{ctrl.lesson.price}}</span><input data-ng-if="!ctrl.isReadOnly" type="number" name="duration" data-ng-model="ctrl.lesson.price" data-ng-change="ctrl.onChange('price')" data-set-null/>{{::'lbl.currency'|i18n}}</div>
            <div class="details"><label>{{::'lbl.lessonDetails'|i18n:{sep:true} }}</label><textarea data-ng-readonly="ctrl.isReadOnly" data-auto-height data-ng-model="ctrl.lesson.details" data-ng-change="ctrl.onChange('details')" data-set-null ></textarea></div>
            <div class="invoiced"><label>{{::'lbl.lessonInvoiced'|i18n:{sep:true} }}</label><span class="value">{{ctrl.lesson.invoiceId ? 'btn.yes' : 'btn.no' | i18n}}</span>
          </div>
        </article>
      </span>
    </div>
  </div>
</div>