<div class="form-search">
  <input type="text" class="search-query" data-ng-model="search.name" data-ng-keyup="triggerSearch()" placeholder="{{'lbl.searchPlaceholder'|i18n}}"/>
</div>
<div data-tags data-src="search" data-on-remove="triggerSearch()"></div>
<article>
  <h2>{{'ttl.dancerList'|i18n:{sep:true} }}</h2>
  <ul>
    <li class="dancer" data-ng-repeat="dancer in list" data-ng-click="displayDancer(dancer)">
      <span class="firstname" data-ng-bind="dancer.firstname"></span><span class="lastname" data-ng-bind="dancer.lastname"></span>
    </li>
  </ul>
</article>
