<h2><span>{{'ttl.dancerList'|i18n}}</span><a data-ui-sref="expanded-list" class="btn"><i class="glyphicon glyphicon-chevron-right"></i></a></h2>
<div class="input-group">
  <input class="form-control" type="text" data-ng-model="ctrl.search.string" data-ng-keyup="ctrl.makeSearch()" placeholder="{{'lbl.searchPlaceholder'|i18n}}"/>
  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>
<div data-tags data-src="ctrl.search" data-on-remove="ctrl.makeSearch()"></div>
<div class="list-length" data-ng-hide="ctrl.list.length > 0">{{'msg.emptyDancerList'|i18n}}</div>
<div class="list-length" data-ng-show="ctrl.list.length > 0">{{ctrl.list.length}}{{'msg.dancerListLength'|i18n}}</div>
<div data-list 
  data-src="ctrl.list" 
  data-columns="ctrl.columns"
  data-ng-show="ctrl.list.length > 0" 
  data-on-click="ctrl.displayDancer(model)"></div>