<div data-layout data-actions="listCtrl.actions">
  <div class="column">
    <div class="input-group">
      <input class="form-control" type="text" data-ng-model="listCtrl.cardList.criteria.string" data-ng-keyup="listCtrl.cardList.performSearch()" placeholder="{{::'placeholder.search'|i18n}}"/>
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    <div data-tags data-src="listCtrl.cardList.criteria" data-on-remove="listCtrl.cardList.performSearch()"></div>
    <div class="list-length" data-ng-hide="listCtrl.cardList.list.length > 0">{{'msg.emptyDancerList'|i18n}}</div>
    <div class="list-length" data-ng-show="listCtrl.cardList.list.length > 0">{{listCtrl.cardList.list.length}}{{::'msg.dancerListLength'|i18n}}</div>
    <div class="print-call-list" data-ng-if="listCtrl.canPrintCallList()">
      <a href="" class="btn glyphed" data-ng-click="listCtrl.printCallList()"><i class="glyphicon glyphicon-print"/>{{::'btn.callList'|i18n}}</a>
    </div>
    <list data-src="listCtrl.cardList.list" 
      data-columns="::listCtrl.columns"
      data-ng-show="listCtrl.cardList.list.length > 0" 
      data-on-click="listCtrl.displayCard(model)"/>
  </div>
  <div class="main" data-ui-view="main"></div>
</div>