<div>
  <div class="commands">
    <div class="btn-group" data-uib-dropdown keyboard-nav>
      <button class="btn dropdown-toggle" uib-dropdown-toggle>{{ctrl.currentSeason}}<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li data-ng-repeat="season in ctrl.seasons"><a href="" data-ng-click="ctrl.loadPlanning(season)">{{::season}}</a></li>
      </ul>
    </div>
    <div class="btn-group" data-uib-dropdown keyboard-nav>
      <button class="btn dropdown-toggle" uib-dropdown-toggle>{{ctrl.cardList.criteria.teachers[0]}}<span data-ng-if="!ctrl.cardList.criteria.teachers[0]">{{::'lbl.allTeachers'|i18n}}</span><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="" data-ng-click="ctrl.searchByTeacher($event)">{{::'lbl.allTeachers'|i18n}}</a></li>
        <li data-ng-repeat="teacher in ctrl.teachers"><a href="" data-ng-click="ctrl.searchByTeacher($event, teacher)">{{::teacher}}</a></li>
      </ul>
    </div>
  </div>
  <span data-planning data-src="ctrl.planning" data-on-click="ctrl.searchByClass($event, danceClasses)" data-hide-empty-days="true"></span>
</div>