<article class="registration">
  <h2>{{season}}</h2>
  <h3>{{'lbl.danceClasses'|i18n:{sep:true} }}<span class="pull-right">
    <a href="" class="btn" data-ng-click="onEdit()">{{'btn.edit'|i18n}}</a>
    <a href="" class="btn btn-warning" data-ng-click="onRemove()">{{'btn.remove'|i18n}}</a>
    <a href="" class="btn" data-ng-click="onPrint()"><i class="glyphicon glyphicon-print"></i></a>
  </span></h3>
  <div class="danceClasses">
    <div class="danceClass" data-ng-repeat="course in danceClasses"><span class="kind {{course.color}}">{{course.kind}}</span><span class="level">{{course.level}}</span><span class="hour">{{course.start|classDate}}</span></div>
  </div>
  <h3>{{'lbl.charged'|i18n:{sep:true} }}
    <span class="input-append">
      <input type="text" class="input-small" data-ng-model="stringCharged" data-ng-keyup="onChargedInput($event)"/>
      <span class="add-on">{{'lbl.currency'|i18n}}</span>
    </span>
    <span class="btn-group" data-dropdown>
      <a href="" class="btn dropdown-toggle">{{periodLabel}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li data-ng-repeat="(period, label) in i18n.periods"><a data-ng-click="onUpdatePeriod(period)">{{label}}</a></li>
      </ul>
    </span>
    <a href="" class="btn btn-primary pull-right" data-ng-click="onNewPayment()">{{'btn.addPayment'|i18n}}</a>
  </h3>
  <div class="payments" data-ng-show="src.payments.length > 0">
    <h3>
      <div class="remove"></div>
      <div class="type">{{'lbl.type'|i18n}}</div>
      <div class="receipt">{{'lbl.receipt'|i18n}}</div>
      <div>{{'lbl.bank'|i18n}}</div>
      <div>{{'lbl.details'|i18n}}</div>
      <div class="value">{{'lbl.value'|i18n}}</div>
    </h3>
    <div data-payment 
      data-ng-repeat="payment in src.payments" 
      data-src="payment" 
      data-on-remove="onRemovePayment(payment)"></div>
    <div class="total {{balanceState}}">{{'lbl.sum'|i18n:{sep:true} }}<span class="input-group"><span data-ng-bind="src.balance"></span><span class="input-group-addon">{{'lbl.currency'|i18n}}</span></span></div>
  </div>

</article>