<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../style/print.css"/>
  </head>
  <body data-ng-controller="Print as ctrl">
    <header>
    </header>
    <h1 class="registration">{{'ttl.registrationPrint'|i18n:{args:{registration:ctrl.registration} } }}</h1>
    <article data-ng-repeat="dancer in ctrl.dancers">
      <div class="lastname">
        <label>{{'lbl.lastname'|i18n:{sep:true} }}</label><span>{{dancer.lastname}}</span>
      </div>
      <div class="firstname">
        <label>{{'lbl.firstname'|i18n:{sep:true} }}</label><span>{{dancer.firstname}}</span>
      </div>
      <div class="address">
        <label>{{'lbl.address'|i18n:{sep:true} }}</label><span>{{ctrl.formatAddress(dancer)}}</span>
      </div>
      <div class="phone">
        <label>{{'lbl.cellphone'|i18n:{sep:true} }}</label><span>{{dancer.cellphone}}</span>
      </div>
      <div class="email">
        <label>{{'lbl.email'|i18n:{sep:true} }}</label><span>{{dancer.email}}</span>
      </div>
      <div class="danceclass">
        <label>{{'lbl.registered'|i18n:{sep:true} }}</label><span>{{ctrl.formatClasses(dancer)}}</span>
      </div>
    </article>
    <div class="pre-filled">
      <span>{{'print.who'|i18n}}</span><span class="input"></span><span class="input"></span><span>{{'print.what'|i18n}}</span>
      <br/>
      <span>{{'print.certificate'|i18n}}</span>
    </div>
    <div class="pre-filled last">
      <span>{{'print.when'|i18n}}</span><span class="input"></span><span>{{'print.sign'|i18n}}</span>
    </div>
    <a class="btn print" data-ng-click="ctrl.print()">{{'btn.print'|i18n}}</a>
    <script type="application/javascript" src="../vendor/jquery.js"></script>
    <script type="application/javascript" src="../vendor/angular.js"></script>
    <script type="application/javascript" src="../script/registrationprint.js"></script>
  </body>
</html>