<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../style/print.css"/>
  </head>
  <body>
    <header>
    </header>
    <h1 class="registration"></h1>
    <div class="lastname">
      <label></label><span></span>
    </div>
    <div class="firstname">
      <label></label><span></span>
    </div>
    <div class="address">
      <label></label><span></span>
    </div>
    <div class="phone">
      <label></label><span></span>
    </div>
    <div class="email">
      <label></label><span></span>
    </div>
    <div class="danceclass">
      <label></label><span></span>
    </div>
    <div class="pre-filled">
      <span class="who"></span><span class="input"></span><span class="input"></span><span class="what"></span>
      <br/>
      <span class="certificate"></span>
    </div>
    <div class="pre-filled last">
      <span class="when"></span><span class="input"></span><span class="sign"></span>
    </div>
    <a class="btn print"></a>
    <script type="application/javascript" src="../vendor/jquery.js"></script>
    <script type="application/javascript" src="../script/registrationprint.js"></script>
  </body>
</html>