<div data-layout data-actions="ctrl.actions">
  <div class="main settings expanded">
    <section>
      <aside><h2>{{::'ttl.database'|i18n}}</h2></aside>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{::'lbl.dumpPath'|i18n:{sep:true} }}</label>
          <div class="col-sm-8">
            <div class="input-group" data-ng-click="ctrl.chooseDumpLocation()">
              <input type="text" class="form-control" data-ng-model="ctrl.conf.dumpPath"/>
              <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"/></span>
            </div>
            <blockquote data-ng-if="!ctrl.conf.dumpPath" class="help-block">
              <p>{{::'msg.dumpData'|i18n}}</p>
            </blockquote>
          </div>
        </div>
        <div class="form-group">
          <a href="" class="btn btn-primary glyphed col-sm-offset-4" data-ng-click="ctrl.importDancers()"><i class="glyphicon glyphicon-import"/>{{::'btn.import'|i18n}}</a>
        </div>
      </form>
    </section>
    <section>
      <aside><h2>{{::'ttl.teacherSettings'|i18n}}</h2></aside>
      <div class="teacher-grid">
        <form data-ng-repeat="teacher in ctrl.conf.teachers track by $index" class="teacher">
          <a href="" class="btn remove" data-ng-click="ctrl.onRemoveTeacher(teacher)"><i class="glyphicon glyphicon-trash"/></a>
          <div class="form-group">
            <label>{{::'lbl.school'|i18n:{sep:true} }}</label>
            <input type="text" data-ng-model="teacher.name" data-set-null data-ng-change="ctrl.onChangeTeachers()"/>
          </div>
          <div class="form-group">
            <label>{{::'lbl.teacher'|i18n:{sep:true} }}</label>
            <input type="text" data-ng-model="teacher.owner" data-set-null data-ng-change="ctrl.onChangeTeachers()"/>
            <label>{{::'lbl.siret'|i18n:{sep:true} }}</label>
            <input type="text" data-ng-model="teacher.siret" data-set-null data-ng-change="ctrl.onChangeTeachers()"/>
          </div>
          <div class="form-group">
            <label>{{::'lbl.street'|i18n:{sep:true} }}</label>
            <textarea data-ng-model="teacher.street" data-set-null data-ng-change="ctrl.onChangeTeachers()"/>
          </div>
          <div class="form-group">
            <label>{{::'lbl.zipcode'|i18n:{sep:true} }}</label><input type="number" name="zipcode" data-ng-model="teacher.zipcode" data-ng-change="ctrl.onChangeTeachers()" data-set-null/>
            <label>{{::'lbl.city'|i18n:{sep:true} }}</label><input type="text" name="city" data-ng-model="teacher.city" data-ng-change="ctrl.onChangeTeachers()" data-set-null/>
            </div>
          <div class="form-group">
            <label>{{::'lbl.phone'|i18n:{sep:true} }}</label><input type="text" name="phone" data-ng-model="teacher.phone" data-ng-change="ctrl.onChangeTeachers()" data-set-null/>
          </div>
          <div class="form-group">
            <label>{{::'lbl.vatNumber'|i18n:{sep:true} }}</label>
            <input type="text" data-ng-model="teacher.vat" data-set-null data-ng-change="ctrl.onChangeTeachers()"/>
          </div>
        </form>
        <div>
          <a href="" class="btn btn-primary glyphed" data-ng-click="ctrl.onAddTeacher()"><i class="glyphicon glyphicon-plus"/>{{::'btn.addTeacher'|i18n}}</a>
        </div>
        <blockquote data-ng-if="ctrl.conf.teachers.length === 0" class="help-block">
          <p>{{::'msg.configureTeachers'|i18n}}</p>
        </blockquote>
      </div>
    </section>
    <section>
      <aside><h2>{{::'ttl.vatSettings'|i18n}}</h2></aside>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{::'lbl.vatSettingsValue'|i18n:{sep:true} }}</label>
          <div class="col-sm-8">
            <input type="number" data-ng-model="ctrl.vat" data-ng-change="ctrl.onChangeVat()"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">{{::'lbl.noVatSetting'|i18n:{sep:true} }}</label>
          <div class="col-sm-8 no-vat-mention">
            <input type="text" data-ng-model="ctrl.conf.noVatMention"/>
          </div>
        </div>
      </form>
    </section>
    <section>
      <aside><h2>{{::'ttl.interface'|i18n}}</h2></aside>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{::'lbl.theme'|i18n:{sep:true} }}</label>
          <div class="col-sm-8">
            <div class="btn-group" data-uib-dropdown keyboard-nav>
              <button class="btn dropdown-toggle" uib-dropdown-toggle>{{'themes.' + ctrl.conf.theme | i18n}}<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li data-ng-repeat="theme in ::ctrl.themes"><a href="" data-ng-click="ctrl.applyTheme(theme)">{{::theme.label}}</a></li>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">{{::'lbl.payerPrefix'|i18n:{sep:true} }}</label>
          <div class="col-sm-8">
            <input type="text" name="payerPrefix" data-ng-model="ctrl.conf.payerPrefix" data-ng-keyup="ctrl.onChangePayerPrefix()"/>
          </div>
        </div>
      </form>
    </section>
    <section>
      <aside><h2>{{::'ttl.about'|i18n}}</h2></aside>
      <div class="about">
        <p>{{::'msg.about'|i18n}}</p>
        <article data-ng-repeat="item in ::ctrl.about">
          <img data-ng-if="item.image" src="{{::item.image}}"/>
          <h2>{{::item.title}}</h2>
          <h3 data-ng-repeat="spec in ::item.specs">{{::spec}}</h3>
        </article>
      </div>
    </div>
  </div>
</div>