<div data-layout data-actions="ctrl.actions">
  <div class="main stats expanded">
    <div class="criteria">
      <tags data-src="ctrl.cardList.criteria"
        data-on-remove="ctrl.cardList.performSearch()"
        data-show-empties="['season', 'teacher']"/>
      <span>{{'ttl.stats'|i18n:{args:{total:ctrl.cardList.list.length} } }}</span>
      <div class="btn-group" data-dropdown>
        <a href="" class="btn dropdown-toggle" dropdown-toggle>{{::'placeholder.selectSeason'|i18n}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a data-ng-click="ctrl.selectSeason($event)">{{::'lbl.allSeasons'|i18n}}</a></li>
          <li data-ng-repeat="season in ctrl.seasons"><a data-ng-click="ctrl.selectSeason($event, season)">{{::season}}</a></li>
        </ul>
      </div>
      <div class="btn-group" data-dropdown>
        <a href="" class="btn dropdown-toggle" dropdown-toggle>{{::'placeholder.selectTeacher'|i18n}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a data-ng-click="ctrl.selectTeacher($event)">{{::'lbl.allTeachers'|i18n}}</a></li>
          <li data-ng-repeat="teacher in ctrl.teachers"><a data-ng-click="ctrl.selectTeacher($event, teacher)">{{::teacher}}</a></li>
        </ul>
      </div>
    </div>
    <span class="loader" data-ng-if="ctrl.workInProgress"><i/><i/><i/><i/><i/></span>
    <div class="dashboard">
      <article>
        <h3>{{::'ttl.missingCertificates'|i18n}}</h3>
        <div class="content">
          <span class="big-value">{{ctrl.missingCertificates}}</span>
        </div>
      </article>
      <article>
        <h3>{{::'ttl.knownByRepartition'|i18n}}{{ctrl.chartHeight}}</h3>
        <div class="content charted">
          <nvd3 options="ctrl.knownByOpt" data="ctrl.knownBy"></nvd3>
        </div>
      </article>
      <article>
        <h3>{{::'ttl.danceClassesDistribution'|i18n}}</h3>
        <div class="content charted">
          <nvd3 options="ctrl.danceClassesOpt" data="ctrl.danceClasses"></nvd3>
        </div>
      </article>
      <article>
        <h3>{{::'ttl.duePayment'|i18n}}</h3>
        <div class="content">
          <span class="big-value">{{ctrl.due}}</span><span class="currency">{{::'lbl.currency'|i18n}}</span>
        </div>
      </article>
    </div>
  </div>
</div>