/******************************************************************************
 * Invoice item
 */

.preview .items > .invoice-item
  .name
  .quantity
  .discount
  .price
    padding 0 .5em

  .name
    .input-group
      display inline-flex
    .input-group-addon > .glyphicon
      left -7px

  .dropdown-menu
    width 100%
    margin-bottom 1em

    .category
      border-bottom 1px solid focusTextColor
      color focusTextColor
      display block
      font-weight bold
      margin .2em .5em

    li:not(:first-child) .category
      margin-top 1em

  .remove
    margin 2px

  &.read-only *
    font-family printFontFamily
    font-size printFontSize