/******************************************************************************
 * Invoice item
 */

.preview .items > .invoice-item
  .name
  .quantity
  .price
    padding 0 .5em

  .remove
    margin 2px

  &.read-only *
    font-family printFontFamily
    font-size printFontSize