@import '../vendor/bootstrap/build/css/bootstrap.min.css'
@import 'mixins'
@import 'directive'

html
  height 100%
  overflow auto
  background #fafafa

.btn > .caret
  display inline-block
  margin-left 5px

body 
  margin 10px
  background transparent

  .registration
    overflow-y visible

  .invalid
    background-color #f89406
    color #fff

for color, i in #87BDBD #95A5C9 #9FDE9F #2C7B7B #314983 #349034
  .color{i+1}
    background-color color
    color #fff

.main
  
  .planning
    width 100%
    height 300px
    font-size 10px
    box-sizing border-box
    margin 10px 0

  > .row-fluid
    text-align center

.column
  
  .form-search
    display -webkit-flex
    -webkit-flex-flow row

    input 
      -webkit-flex 1
      
    input:after
      content ''
      display inline-block
      width 28px

  .dancer
    .lastname
      font-weight bold
      padding-left 0.5em
      cursor pointer

article
  border 1px solid #ccc
  border-radius 3px
  margin 10px 0
  padding 0 1em 1em
  
  > h2
    color #aaa
    font-size 1.2em
    line-height 10px
    font-weight normal
    font-style italic
    background #fafafa
    position relative
    display inline
    top -10px
    left 25px
    padding 0 5px

.dancer
  
  // to allow button bar margin.
  padding-top 1px

  > article:first-of-type
    margin-top 45px

  label
    display inline-block
    cursor default
    vertical-align top
    margin 5px 0 0

  .row-fluid input
    margin-bottom 5px
    margin-left 5px

  textarea
    margin 0 0 5px
    resize none
    height 3.6em
    width 100%
    display inline-block
    box-sizing border-box

  input:not(:hover):not(:focus):not(.invalid)
  textarea:not(:hover):not(:focus):not(.invalid)
    background transparent
    border-color transparent
    box-shadow none
    -webkit-box-shadow none

  .registration-bar
    text-align center

  .known-by > *
    height 20px
    width 18%
    margin-right 3%
    display inline-block

  .known-by > *:last-child
    width auto

    label
      display inline-block
      margin 4px 0 0 -5px

    input
      display inline-block

  .known-by [type="checkbox"]
    margin 0

  .known-by > * label
    margin 0 0 0 0.5em

.register
  max-height 450px

  > span
    display block
    margin-bottom 15px

  .planning
    width 100%
    height 400px
    font-size 10px
