.registration

  h3
    font-size 1.2em
    margin 0
    font-weight normal

  .danceClasses
  .payments
    display -webkit-flex
    -webkit-flex-flow row wrap

  .danceClass
  .payment
    display block
    padding 5px 10px

  .danceClass
    > *
      padding 0.2em 0.5em

    .hour
      display block
      font-size 0.8em
      color #888

  .danceClass:not(:last-child)
  .payment:not(:last-child)
    border-right 1px solid #888

  .balance

    .sum
      margin-left 25px
    .sum:after
      content '/'
      display inline
      padding-left 5px

    .input-append
      line-height 26px
      margin-bottom 2px

      > *
        padding 2px 4px
        font-size 17px

      input
        width 36px
        text-align right

  .balance-low 
    .sum, .input-small
      color #FF952B

  .balance-right 
    .sum, .input-small
      color #24B532

.payment

  .type
    margin-bottom 3px

    .btn.remove
      font-weight bold
      font-size 20px
      padding 4px 7px

  .input-append 
    display -webkit-flex
    -webkit-flex-flow row wrap
    margin-bottom 3px
    
    > input
      -webkit-flex 1
      margin 0
      text-align right
      width auto

  .details 
    display -webkit-flex
    -webkit-flex-flow row wrap

    > *
      font-size 0.7em

    > label
      line-height 16px

    > input
      -webkit-flex 1
      width auto
      padding 2px 4px
      height 20px

.planning
  titleH = 20px
  hallH = 40px

  width 100%
  height 100%
  box-sizing border-box
  padding-bottom titleH + hallH + 40

  .time
    background-color #ccc
    color #fff
    text-align right
    width 6.5%

    .q0
      font-size 0.8em
      line-height 1em
      padding 0.2em
      text-align right

    .groups
      color transparent

  .day 
  .time
    box-sizing border-box
    display inline-block
    height 100%
    position relative
    margin-top 65px

  .day:not(:last-child)
    border-right 1px solid #ccc

  .quarter
    box-sizing border-box

  .quarter.q0
    border-top 1px solid #888
  .quarter.q2
    border-top 1px dashed #ccc

  .title
    text-align center
    background-color #aaa
    color #fff
    box-sizing border-box
    height titleH
    position absolute
    top -(titleH + hallH)
    width 100%

  .groups
    background-color #ccc
    color #fff
    display -webkit-flex
    -webkit-flex-flow row wrap
    -webkit-flex-line-pack center
    height hallH
    position absolute
    top - hallH
    width 100%

    > *
      -webkit-flex 1
      text-align center
      overflow hidden
      margin auto 0

  .danceClass
    position absolute
    overflow hidden
    white-space nowrap
    text-overflow ellipsis 
    text-align center
    cursor pointer

  .danceClass.selected
    background-color #666

  .legend
    text-align right

    h2
      display inline-block
      line-height 1em
      height auto
      font-size 0.9em
      font-weight normal

    > span
      font-size 0.9em
      padding 0 0.4em
      margin 0 0.4em
      display inline-block

for i in 2..7
  .planning.days{i} .day
    // 6.5% for time
    width unit((100 - 6.5) / i, '%')

for i in 6..20
  .planning.hours{i} 
    .quarter
      height unit(100 / (i * 4), '%')  
    
