/******************************************************************************
 * Card
 */

cardBox()
  border-top 2px solid headingColor
  position relative
  padding 0 1em 1em
  min-width 300px

  > h2
    background mainBackground
    border-top none
    display inline
    left 25px
    line-height 10px
    font-size fontSize*1.6
    padding 0 5px
    position relative
    top -10px

cardButtons(selector)
  {selector} > .btn
  {selector} > .btn-group
    transition background focusDuration
    position absolute
    right 15px
    top -18px

  {selector} > .btn
    box-shadow 0 0 0 3px mainBackground

  {selector} > .btn-group
    background mainBackground

.card
  overflow-x hidden
  overflow-y auto
  height 100%
  box-sizing border-box
  padding-right 10px

  .nav-tabs
    border-bottom 2px solid headingColor
    padding-left 10px
    margin-right 300px
    display flex
    flex-direction row
    flex-wrap wrap-reverse

    > li
      float none
      display inline-block
      padding-top 10px

      > a
      &.active > a
        border none
        background mainBackground
        font-family headingFont
        color headingColor
        cursor pointer
        margin-left 5px

      > a
        color rgba(textColor, 50%)

  .tab-pane
    padding-top 10px
    background mainBackground

  > article > h2
  .nav-tabs > li > a
    display inline
    position relative
    top 10px
    left 25px
    line-height 10px
    font-size fontSize*1.6
    background mainBackground
    padding 0 5px

  > article
    border-top 2px solid headingColor
    margin 10px 0

    > .invoice-without-registration
      float right

  > article
  .tab-pane > article
    position relative
    padding 0 1em 1em

    for selector in "&" ".address" ".dancer"
      cardButtons(selector)

    for selector in ".address" ".dancer"
      {selector}:not(:hover) > .btn
      {selector}:not(:hover) > .btn-group
        background colBackground

    &.registration > .btn-group
      top -33px

    > h2
      top -10px
      border-top none

    .dancer
    .address
    .dancer-classes
      border-top 1px solid headingColor
      margin-top 16px
      position relative

      > .btn
        top -20px
        box-shadow 0 0 0 3px colBackground

      > h4
        font-size fontSize*1.3
        background colBackground
        display inline-block
        position relative
        margin -10px 0 0
        bottom 11px
        left 12px
        padding 0 5px

    .card-dancer
    .card-dancer-classes
      border-radius inputRadius
      background colBackground
      padding 6px
      margin 6px -12px

    .dancer
      .title
        // cause name overlaps
        z-index 1

    .address
      .zipcode
        input
          min-width 60px

        input::-webkit-outer-spin-button
        input::-webkit-inner-spin-button
          -webkit-appearance: none
          margin: 0

      .city label
        width 45px

    .address .read-only
      .zipcode, .city, .street
        margin-top 5px
        margin-left 10px
      &.phone
        label
          width auto
        span
          margin-top 5px


    .row
      > span
        display flex

      .input-group
        flex 1
        display flex

        .input-group-addon
          width 30px
          height 28px
          padding 4px

      input[type=text],
      input[type=number],
      input[type=email]
        flex 1
        margin-bottom 5px
        margin-left 5px
        height auto

      input[type=checkbox]
        margin 8px 0 0 5px

      label
        width 100px
        text-align right
        display inline-block
        cursor default
        margin 5px 5px 0 0
        color labelColor

      textarea
        flex 1
        margin 0 0 5px 5px
        resize none
        height 3.6em
        display inline-block
        box-sizing border-box

    .known-by
      display flex
      flex-flow wrap

      > span
        min-width 128px
        margin 2px 10px 2px 0

      label
        cursor pointer
        text-align left
        width auto
        margin 4px 0 0 2px
        display inline
        color labelColor

      input[type="checkbox"]
        vertical-align -2px

    .known-by-other
      flex 1
      display inline-flex

      label
        vertical-align 2px
        width auto
        text-align left
      input
        margin-right 5px
        height 28px
        flex 1