/******************************************************************************
 * Conflicts resolution
 */

.conflict

  h4
    color headingColor
    font-size (fontSize*1.6)
    font-family headingFont

  .conflict-table

    thead tr
      background headerBackground
      color headerColor
      font-weight normal

    td
      width 40%

      input.checkbox
        margin 2px 5px
        display inline-block

    td:first-child
      width 20%
      text-align right

      .tag
        margin-top 0
