/******************************************************************************
 * Invoice edition
 */

.invoice
  display flex
  flex-direction column
  height 100%

  .invoice-title
    border-top 2px solid headingColor
    margin 10px 0 0
    padding 0 1em
    position relative

    > h2
      align-items center
      background mainBackground
      border none
      display inline-flex
      font-size fontSize*1.6
      left 25px
      line-height 10px
      padding 0 5px
      position relative
      white-space nowrap
      top -1em

      > input
        flex-grow 1
        font-size 1em
        min-width 0
        padding .1em

    label
      margin 0 0.5em 0 0
      vertical-align -1px

    .suggested
      color warningColor

    input[type=checkbox]
      margin-right .5em
      vertical-align -3px

  .preview
    background white
    box-shadow 0 10px 15px emphasisColor
    color black
    padding 25px
    overflow-y auto

    h1
      border none
      color black
      font-family printFontFamily
      font-size printFontSize * 1.2
      font-weight bold
      margin 1.5em
      text-align center

    .items
    .subtotal
      width 100%

      input
      .input-group
        flex-grow 1
        min-width 0
        text-align right

      > div
        display flex

        > span
          font-family printFontFamily
          font-size printFontSize
          padding 5px .5em
          display flex
          align-items center
          justify-content flex-end

        .name
          flex-grow 1
          justify-content flex-start

          input
            text-align left

        .quantity
        .vat
        .price
        .total
          width 15%
          text-align right

        .quantity
          width 10%

      .header-line
        border-top none
        > *
          font-weight bold
          padding .5em

    .items
      margin 2em 0 1em

      > *
        border-top 1px solid black

    .subtotal
      width 35%

      > * > *
        width 40%
        padding 2px .5em

      > * > :first-child
        width 60%

      .discount
      .total
        font-weight bold

    .total-line
      width 100%
      display flex

      .add-item
        flex-grow 1
        margin 1em 0

    .customer > *
    .school > *
    input
    .date > span
    .input-group > *
      font-family printFontFamily
      font-size printFontSize

    .input-group input:not(:hover):not(:focus):not(.ng-invalid)
    input:not(:hover):not(:focus):not(.ng-invalid)
    textarea:not(:hover):not(:focus):not(.ng-invalid)
      color black
      border-color transparent

    .input-group .input-group-addon
      background-color rgba(black, 0.07)
      border-color transparent
      color black
      vertical-align top
      line-height 1.2em

      > .glyphicon
        left -5px
        top 0

    input[type=text]:focus
    input[type=number]:focus
    textarea:focus
      box-shadow none

    input:hover:not(:focus)
    textarea:hover:not(:focus)
      border-color transparent
      background-color rgba(black, 0.07)

    p
      margin 0 0 0.5em 0
    p:last-child
      margin-bottom 0

    .date
      display flex
      justify-content flex-end
      margin 2em 0 0
      padding 0
      width 100%

      > *
        display flex
        align-items center

        input
          margin-left .5em

        .dropdown-menu
          left auto !important
          right 14px
          top 102% !important

    header
      display flex
      margin 0
      width 100%
      justify-content space-between

      .logo
        width 65px
        height 60px

      .school
      .customer
        padding 5px
        width 40%
        margin 0

        > p
          margin 0

        > p:first-child
          font-weight bold
          font-size 110

    .due-date
    .delay
    .various
      > *
        display inline-block
        font-family printFontFamily
        font-size printFontSize * .8
        margin-top .5em

    .due-date
      margin-top 50px

      > *
        font-weight bold
        margin-top 1.5em

  .customer
    .zip-and-city
      display flex

      > input:first-child
        width 82px

        &::-webkit-outer-spin-button
        &::-webkit-inner-spin-button
          -webkit-appearance: none
          margin: 0

      > input:last-child
        flex-grow 1