@require './card'

/******************************************************************************
 * lessons management
 */

.lessons

  .flex-row
    display flex
    height 100%
    width 100%

    > .edition
      min-width 300px
      background mainBackground
      margin -15px -15px -15px 1em
      padding 30px 15px 15px

  article
    cardBox()

    > .content
      border-radius inputRadius
      background colBackground
      padding 6px 1em 6px 6px
      margin 6px -12px

      > *
        align-items center
        display flex
        margin-bottom .5em

      input, textarea
        flex-grow 1

      .duration, .price
        > input
          flex-grow 0
          margin-right .5em
          text-align right
          width 4em

        > .value
          margin-right .5em

      .details
        align-items flex-start

        > label
        > .value
          margin-top 5px

        textarea
          resize none

          &[readonly]
            cursor default
            color #c3c5c7
            padding-left 0

            &:focus
            &:active
            &:hover
              border-color transparent
              background-color transparent
              color inherit
              outline none
              box-shadow none

      label
        width 100px
        text-align right
        display inline-block
        cursor default
        margin 0 5px 0 0
        color labelColor

  .planning-container
    flex-grow 1
    padding-right .5em
    display flex
    flex-direction column
    height 100%

    nav
      display flex
      margin-bottom 1em
      align-items center

      > :nth-child(2)
        flex-grow 1
        text-align center
        margin 0 1em

        h2
          border-top none
          cursor pointer
          line-height 10px
          font-size fontSize*1.6

        .dropdown-menu
          border none
          left calc(50% - 160px)
          top 1.5em

      > .btn:last-child .glyphicon
          margin 0 -3px 0 6px

    .planning
      overflow-y scroll
      padding 0

      .danceClass
        margin-right 1em
