/******************************************************************************
 * Dancer search popup
 */

.search-dancer

  input
    margin-left 10px
    width 50%

  > div:not(:last-child)
    margin-bottom 10px